Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, win32-clang-cl/opt

android-api-15-gradle-dependencies:
  description: Android armv7 API 15+ gradle dependencies
  attributes:
    build_platform: android-api-15-gradle-dependencies
    build_type: opt
  index:
    product: mobile
    job-name: android-api-15-gradle-dependencies-opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: other
    tier: 2
  ...

android-test:
  description: Android armv7 unit tests
  attributes:
    build_platform: android-test
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-lint:
  description: Android lint
  attributes:
    build_platform: android-lint
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
    docker-image:
  ...

android-checkstyle:
  description: Android checkstyle
  attributes:
    build_platform: android-checkstyle
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-findbugs:
  description: Android findbugs
  attributes:
    build_platform: android-findbugs
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

linux-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux32-l10n-opt
  treeherder:
    platform: linux32/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

linux64-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux64-l10n-opt
  treeherder:
    platform: linux64/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

android-api-15-l10n/opt:
  description: Single Locale Repack
  index:
    product: mobile
    job-name:
      gecko-v2: android-l10n-opt
  treeherder:
    platform: android-api-15/opt
    symbol: tc(L10n)
  worker-type: aws-provisioner-v1/android-api-15
  worker:
    max-run-time: 18000
  run:
    using: mozharness
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

Bug 1335442 - Update wording of automigration notification bar and add tests. r=jaws, a=jcristau
  browser/components/migration/AutoMigrate.jsm
  browser/components/migration/content/extra-migration-strings.properties
  browser/components/migration/jar.mn
  browser/components/migration/tests/browser/browser.ini
  browser/components/migration/tests/browser/browser_undo_notification_wording.js
Due: none

servo: Merge #15285 - Issue #15017: Properly handle and report network errors on page loads (from simartin:issue_15017); r=nox
  servo/components/script/dom/servoparser/mod.rs
Due: none

Bug 1335442 - update wording of automigration notification bar and add tests, r=jaws
  browser/components/migration/AutoMigrate.jsm
  browser/components/migration/tests/browser/browser.ini
  browser/components/migration/tests/browser/browser_undo_notification_wording.js
  browser/locales/en-US/chrome/browser/migration/migration.properties
Due: none

Backed out changeset b87d0d68c15a (bug 1333385)
  devtools/client/netmonitor/test/browser_net_json-b64.js
Due: none

Backed out changeset 7bae7aaeaead (bug 1333385) for timeouts in browser_net_json-b64.js
  devtools/client/netmonitor/shared/components/response-panel.js
  devtools/client/netmonitor/test/browser.ini
  devtools/client/netmonitor/test/browser_net_json-b64.js
  devtools/client/netmonitor/test/head.js
  devtools/client/netmonitor/test/html_json-b64.html
  devtools/client/netmonitor/test/sjs_content-type-test-server.sjs
Due: none

Bug 1321605 - Collect system performance data during Android tests; r=jmaher
  testing/mozharness/scripts/android_emulator_unittest.py
Due: mozharness/opt

Bug 1335501 - Trigger test job retry when Android devicemanager _runCmd() times out. r=jmaher, a=test-only
  testing/mozharness/mozharness/mozilla/testing/errors.py
Due: mozharness/opt

Bug 1335501 - Trigger test job retry when Android devicemanager _runCmd() times out; r=jmaher
  testing/mozharness/mozharness/mozilla/testing/errors.py
Due: mozharness/opt

servo: Merge #15122 - webgl: premultiplication, y flipping, and format conversion (from anholt:webgl-premultiply); r=emilio
  servo/Cargo.lock
  servo/components/canvas_traits/lib.rs
  servo/components/script/Cargo.toml
  servo/components/script/dom/webglrenderingcontext.rs
  servo/components/script/lib.rs
Due: none

Bug 842114 - Part 2. Crash test. r=heycam
  layout/base/crashtests/842114.html
  layout/base/crashtests/crashtests.list
Due: none

Bug 1333000 part 4 - Add more release asserts to TI code. r=jonco
  js/src/jscntxtinlines.h
  js/src/jsgc.cpp
  js/src/vm/TypeInference-inl.h
  js/src/vm/TypeInference.cpp
  js/src/vm/TypeInference.h
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

No bug, Automated HSTS preload list update from host bld-linux64-spot-030 - a=hsts-update
  security/manager/ssl/nsSTSPreloadList.errors
  security/manager/ssl/nsSTSPreloadList.inc
Due: none

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh
