Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, win32-clang-cl/opt

android-api-15-gradle-dependencies:
  description: Android armv7 API 15+ gradle dependencies
  attributes:
    build_platform: android-api-15-gradle-dependencies
    build_type: opt
  index:
    product: mobile
    job-name: android-api-15-gradle-dependencies-opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: other
    tier: 2
  ...

android-test:
  description: Android armv7 unit tests
  attributes:
    build_platform: android-test
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-lint:
  description: Android lint
  attributes:
    build_platform: android-lint
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
    docker-image:
  ...

android-checkstyle:
  description: Android checkstyle
  attributes:
    build_platform: android-checkstyle
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-findbugs:
  description: Android findbugs
  attributes:
    build_platform: android-findbugs
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

linux-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux32-l10n-opt
  treeherder:
    platform: linux32/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

linux64-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux64-l10n-opt
  treeherder:
    platform: linux64/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

android-api-15-l10n/opt:
  description: Single Locale Repack
  index:
    product: mobile
    job-name:
      gecko-v2: android-l10n-opt
  treeherder:
    platform: android-api-15/opt
    symbol: tc(L10n)
  worker-type: aws-provisioner-v1/android-api-15
  worker:
    max-run-time: 18000
  run:
    using: mozharness
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

Bug 1333752 - Fix memset sizes in rtt_filter.cc. r=dminor, a=jcristau
  media/webrtc/trunk/webrtc/modules/video_coding/rtt_filter.cc
Due: none

Bug 1329697 - registering typelib for IGeckoCustom interface. r=aklotz
  accessible/ipc/win/PlatformChild.cpp
  accessible/ipc/win/PlatformChild.h
  accessible/windows/msaa/Platform.cpp
Due: none

Bug 1333503 - Remove some dead code relating to overfill calculation. r=mchang,mrbkap
  dom/base/nsGlobalWindow.cpp
  dom/base/nsGlobalWindow.h
  dom/webidl/Window.webidl
  gfx/layers/Layers.h
  gfx/layers/client/ClientLayerManager.cpp
  gfx/layers/client/ClientLayerManager.h
  gfx/layers/ipc/CompositorBridgeChild.cpp
  gfx/layers/ipc/CompositorBridgeChild.h
  gfx/layers/ipc/CompositorBridgeParent.cpp
  gfx/layers/ipc/CompositorBridgeParent.h
  gfx/layers/ipc/CrossProcessCompositorBridgeParent.h
  gfx/layers/ipc/PCompositorBridge.ipdl
Due: none

Bug 1323429 - [1.1] Don't verify IME root content with e10s enabled. r=jchen
  widget/android/nsWindow.cpp
Due: none

bug 1333797 - Require 'record_in_processes' values in Scalars.yaml r=Dexter
  toolkit/components/telemetry/Scalars.yaml
  toolkit/components/telemetry/docs/collection/scalars.rst
  toolkit/components/telemetry/parse_scalars.py
Due: none

Bug 1308271 - Import sources of the WebCompat Go Faster add-on V1. r=Felipe
  browser/extensions/webcompat/bootstrap.js
  browser/extensions/webcompat/content/data/ua_overrides.jsm
  browser/extensions/webcompat/content/lib/ua_overrider.jsm
  browser/extensions/webcompat/jar.mn
  browser/extensions/webcompat/moz.build
  browser/extensions/webcompat/test/browser.ini
  browser/extensions/webcompat/test/browser/.eslintrc.js
  browser/extensions/webcompat/test/browser/browser_check_installed.js
  browser/extensions/webcompat/test/browser_check_installed.js
  browser/extensions/webcompat/test/browser_overrider.js
Due: none

Bug 1333386 - Use {once: true} for session store window "load" listener. r=sebastian
  mobile/android/components/SessionStore.js
Due: none

Bug 1333826 - Remove a few references from .mk files, r=mshal a=gchang
  config/config.mk
Due: sm-package/opt

Bug 1333826 - Remove a few references from .mk files, r=mshal
  config/config.mk
Due: sm-package/opt

Bug 1333567 - Send the notification expected by the session store when restarting, too. r=sebastian, a=jcristau
  mobile/android/chrome/content/browser.js
Due: none

Bug 1333567 - Send the notification expected by the session store when restarting, too. r=sebastian, a=jcristau
  mobile/android/chrome/content/browser.js
  mobile/android/components/SessionStore.js
Due: none

Bug 1333567 - Send the notification expected by the session store when restarting, too. r=sebastian
  mobile/android/chrome/content/browser.js
  mobile/android/components/SessionStore.js
Due: none

Bug 1333564 - [manifestparser] Stop supporting ';' as a valid comment character, r=jmaher
  python/mozbuild/mozbuild/backend/recursivemake.py
  python/mozbuild/mozbuild/test/backend/test_recursivemake.py
  testing/marionette/harness/marionette_harness/tests/unit-tests.ini
  testing/mozbase/docs/manifestparser.rst
  testing/mozbase/manifestparser/manifestparser/ini.py
  testing/mozbase/manifestparser/tests/comment-example.ini
  testing/mozbase/manifestparser/tests/test_read_ini.py
  testing/xpcshell/example/unit/xpcshell.ini
  toolkit/components/timermanager/tests/unit/xpcshell.ini
  toolkit/mozapps/update/tests/chrome/chrome.ini
  toolkit/mozapps/update/tests/unit_aus_update/xpcshell.ini
  toolkit/mozapps/update/tests/unit_base_updater/xpcshell.ini
  toolkit/mozapps/update/tests/unit_service_updater/xpcshell.ini
Due: marionette-harness/opt, mozbase/opt, sm-package/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh
