Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sphinx, webidl-test, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest, linux64-clang/opt, linux64-clang-tidy/opt, linux64-gcc/opt, linux64-binutils/opt, linux64-cctools-port/opt, win32-clang-cl/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sphinx: any of: **/*.py, **/*.rst, tools/docs/**
  webidl-test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  jittest: any of: js/src/**, js/public/**
  jsreftest: any of: js/src/**, js/public/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh

Bug 1368667 - Refactor General Data r=chutten
  toolkit/content/aboutTelemetry.js
Due: none

Bug 1368674 - Remove simpleTest functionality from Marionette. r=whimboo
  testing/marionette/driver.js
  testing/marionette/harness/marionette_harness/tests/unit/test_execute_script.py
  testing/marionette/harness/marionette_harness/tests/unit/test_simpletest_chrome.js
  testing/marionette/harness/marionette_harness/tests/unit/test_simpletest_fail.js
  testing/marionette/harness/marionette_harness/tests/unit/test_simpletest_pass.js
  testing/marionette/harness/marionette_harness/tests/unit/test_simpletest_sanity.py
  testing/marionette/harness/marionette_harness/tests/unit/test_simpletest_timeout.js
  testing/marionette/harness/marionette_harness/tests/unit/unit-tests.ini
  testing/marionette/listener.js
  testing/marionette/simpletest.js
Due: marionette-harness/opt, sphinx

Bug 1368208 - Don't flush layout to determine whether scrollbox scroll buttons should be enabled/disabled. r=mconley
  toolkit/content/widgets/scrollbox.xml
Due: none

Bug 1321134 - Allow access to dconf shared-memory flags. r=gcp,glandium
  security/sandbox/linux/broker/SandboxBrokerPolicyFactory.cpp
  security/sandbox/linux/broker/moz.build
Due: none

Bug 1368656 - Fix ./mach eslint on windows - add a return in the for loop when trying extensions to ensure we get the right one. r=florian
  tools/lint/eslint/setup_helper.py
Due: sphinx

Bug 1368281 - Consistently use label and description in the tracking protection section of the identity popup. r=Paolo
  browser/components/controlcenter/content/panel.inc.xul
  browser/themes/shared/controlcenter/panel.inc.css
Due: none

Bug 1365772 - Refactor gfx blocklist tests to fail on unsupported platforms. r=kats
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_Device.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_DriverNew.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_Equal_DriverNew.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_Equal_DriverOld.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_Equal_OK.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_GTE_DriverOld.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_GTE_OK.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_No_Comparison.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_OK.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_OS.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_OSVersion_match.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_OSVersion_mismatch_DriverVersion.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_OSVersion_mismatch_OSVersion.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_Vendor.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_Version.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_prefs.js
  toolkit/mozapps/extensions/test/xpcshell/xpcshell-shared.ini
Due: none

Bug 1365772 - Allow component alpha to be managed by blocklists. r=kats
  gfx/config/gfxFeature.h
  gfx/layers/Layers.cpp
  gfx/layers/d3d11/CompositorD3D11.cpp
  gfx/layers/d3d11/DeviceAttachmentsD3D11.cpp
  gfx/layers/opengl/CompositorOGL.cpp
  gfx/thebes/gfxPlatform.cpp
  gfx/thebes/gfxPlatform.h
  gfx/thebes/gfxPrefs.h
  toolkit/mozapps/extensions/test/xpcshell/data/test_gfxBlacklist_OSVersion.xml
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_OSVersion_match.js
  toolkit/mozapps/extensions/test/xpcshell/test_gfxBlacklist_Version.js
  widget/GfxInfoBase.cpp
  widget/nsIGfxInfo.idl
Due: none

Bug 1366102 - Remove the DEVTOOLS_OS_* probes from our Telemetry. r=miker
  devtools/client/framework/devtools-browser.js
  devtools/client/framework/toolbox.js
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/histogram-whitelists.json
Due: none

Bug 1368684 - Stop building webrender-enabled builds in automation. r=dustin
  browser/config/mozconfigs/linux32/debug-qr
  browser/config/mozconfigs/linux32/opt-qr
  browser/config/mozconfigs/linux64/debug-qr
  browser/config/mozconfigs/linux64/opt-qr
  browser/config/mozconfigs/macosx64/debug-qr
  browser/config/mozconfigs/macosx64/opt-qr
  browser/config/mozconfigs/win32/debug-qr
  browser/config/mozconfigs/win32/opt-qr
  browser/config/mozconfigs/win64/debug-qr
  browser/config/mozconfigs/win64/opt-qr
  taskcluster/ci/build/linux.yml
  taskcluster/ci/build/macosx.yml
  taskcluster/ci/build/windows.yml
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/32_qr_debug.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/32_qr_opt.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_qr_debug.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_qr_opt.py
  testing/mozharness/configs/builds/releng_sub_mac_configs/64_cross_qr_debug.py
  testing/mozharness/configs/builds/releng_sub_mac_configs/64_cross_qr_opt.py
  testing/mozharness/configs/builds/taskcluster_firefox_win32_qr_debug.py
  testing/mozharness/configs/builds/taskcluster_firefox_win32_qr_opt.py
  testing/mozharness/configs/builds/taskcluster_firefox_win64_qr_debug.py
  testing/mozharness/configs/builds/taskcluster_firefox_win64_qr_opt.py
  testing/mozharness/mozharness/mozilla/building/buildbase.py
Due: taskgraph-tests/opt, mozharness/opt, sphinx
