Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, win32-clang-cl/opt

android-api-15-gradle-dependencies:
  description: Android armv7 API 15+ gradle dependencies
  attributes:
    build_platform: android-api-15-gradle-dependencies
    build_type: opt
  index:
    product: mobile
    job-name: android-api-15-gradle-dependencies-opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: other
    tier: 2
  ...

android-test:
  description: Android armv7 unit tests
  attributes:
    build_platform: android-test
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-lint:
  description: Android lint
  attributes:
    build_platform: android-lint
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
    docker-image:
  ...

android-checkstyle:
  description: Android checkstyle
  attributes:
    build_platform: android-checkstyle
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-findbugs:
  description: Android findbugs
  attributes:
    build_platform: android-findbugs
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

linux-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux32-l10n-opt
  treeherder:
    platform: linux32/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

linux64-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux64-l10n-opt
  treeherder:
    platform: linux64/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

android-api-15-l10n/opt:
  description: Single Locale Repack
  index:
    product: mobile
    job-name:
      gecko-v2: android-l10n-opt
  treeherder:
    platform: android-api-15/opt
    symbol: tc(L10n)
  worker-type: aws-provisioner-v1/android-api-15
  worker:
    max-run-time: 18000
  run:
    using: mozharness
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

Bug 1302028 - part 4 - add dummy geckoservo crate; r=Manishearth
  servo/ports/geckoservo/Cargo.toml
  servo/ports/geckoservo/lib.rs
Due: none

Bug 1302028 - part 3 - modify path for filtering out servo tasks; r=gps
  taskcluster/taskgraph/filter_tasks.py
  taskcluster/taskgraph/test/test_filters.py
Due: taskgraph-tests/opt

Bug 1302028 - part 5 - add bindgen feature to gecko-side Cargo.toml files for propagation to geckoservo; r=Manishearth
  toolkit/library/gtest/rust/Cargo.lock
  toolkit/library/gtest/rust/Cargo.toml
  toolkit/library/rust/Cargo.lock
  toolkit/library/rust/Cargo.toml
  toolkit/library/rust/shared/Cargo.toml
Due: none

Bug 1302028 - part 7 - conditionally add bindgen features to gkrust* libraries; r=gps
  toolkit/library/gtest/rust/moz.build
  toolkit/library/rust/moz.build
Due: none

Bug 1302028 - part 6 - pass LIBCLANG_PATH and CLANG_PATH environment variables to cargo build; r=gps
  config/rules.mk
Due: sm-package/opt

Bug 1302028 - part 1 - add clang/llvm repacks to linux64 build manifest for stylo; r=gps
  browser/config/mozconfigs/linux64/stylo
  browser/config/mozconfigs/linux64/stylo-debug
  browser/config/tooltool-manifests/linux64/releng.manifest
Due: none

Bug 1302028 - part 2 - add configury for stylo build-time bindgen needs; r=gps,chmanchester
  toolkit/moz.configure
Due: none

Bug 1316996 Text for webextensions permissions r=florian
  browser/base/content/browser-addons.js
  browser/locales/en-US/chrome/browser/browser.properties
  browser/modules/ExtensionsUI.jsm
  browser/themes/linux/browser.css
  browser/themes/osx/browser.css
  browser/themes/windows/browser.css
Due: none

servo: Merge #15099 - Remove usage of phf_macros (from servo:phf-no-macros); r=jdm
  servo/Cargo.lock
  servo/components/script/Cargo.toml
  servo/components/script/build.rs
  servo/components/script/dom/bindings/codegen/CodegenRust.py
  servo/components/script/dom/bindings/codegen/GlobalGen.py
  servo/components/script/lib.rs
  servo/ports/servo/Cargo.toml
Due: none

Bug 1331269 - Assertion failure: aChild->Parent() == mParent, r=eitan
  accessible/generic/DocAccessible.h
  accessible/tests/mochitest/treeupdate/test_select.html
Due: none

Bug 1332602 - ArrayBufferObject::create should throw RangeError if the input is bigger than INT32_MAX, r=evilpie
  dom/file/FileReader.cpp
  js/src/vm/ArrayBufferObject.cpp
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 1332602 - ArrayBufferObject::create should throw RangeError if the input is bigger than INT32_MAX. r=evilpie, a=jcristau
  dom/base/FileReader.cpp
  js/src/vm/ArrayBufferObject.cpp
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 1332584 - Append last frame on EOS in VideoTrackEncoder. r=jesup
  dom/media/encoder/TrackEncoder.cpp
Due: none

Bug 1332550 - Use our existing function for removing a rule at a given index from a group rule. r=heycam, a=abillings
  layout/style/nsCSSRules.cpp
Due: none

Bug 1206048 - Remove E10S_WINDOW metric. r=Dexter
  browser/base/content/browser.js
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/histogram-whitelists.json
Due: none

Bug 1330082 - factor out a checkout_or_update function for build-clang.py; r=ehsan
  build/build-clang/build-clang.py
Due: sm-package/opt, win32-clang-cl/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh
