Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sphinx, webidl-test, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest, linux64-clang/opt, linux64-clang-tidy/opt, linux64-gcc/opt, linux64-binutils/opt, linux64-cctools-port/opt, win32-clang-cl/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sphinx: any of: **/*.py, **/*.rst, tools/docs/**
  webidl-test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  jittest: any of: js/src/**, js/public/**
  jsreftest: any of: js/src/**, js/public/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh

Bug 1364245 - Extend delay for slow loading resource testcase to prevent intermittent. r=ato a=test-only
  testing/marionette/harness/marionette_harness/tests/unit/test_navigation.py
  testing/marionette/harness/marionette_harness/www/slow_resource.html
Due: marionette-harness/opt, sphinx

Bug 1364245 - Extend delay for slow loading resource testcase to prevent intermittent. r=ato
  testing/marionette/harness/marionette_harness/www/slow_resource.html
Due: marionette-harness/opt

Bug 1363592 - Update mochitest expectations for transition and animation duration. r=jeremychen
  layout/style/test/stylo-failures.md
Due: none

bug 1360494 - part 2 add mochitest to make sure the image files exist. r=evelyn
  browser/extensions/mortar/moz.build
  browser/extensions/mortar/test/mochitest/mochitest.ini
  browser/extensions/mortar/test/mochitest/test_bug1360494.html
Due: none

Bug 1364374 - don't test flac on Android. r=jwwang
  dom/media/test/manifest.js
  dom/media/test/mochitest.ini
Due: none

Bug 1363345 - Don't use the pingsender when the OS is shutting down. r=bsmedberg,gfritzsche,data-review=bsmedberg
  toolkit/components/telemetry/Scalars.yaml
  toolkit/components/telemetry/TelemetrySend.jsm
  toolkit/components/telemetry/docs/data/main-ping.rst
  toolkit/components/telemetry/tests/unit/test_TelemetrySession.js
Due: sphinx

servo: Merge #16811 - style: record attribute and state selector dependencies (from heycam:snapshots); r=emilio
  servo/components/style/stylist.rs
  servo/ports/geckolib/glue.rs
Due: none

Bug 1362397 - Add a new win8 R-e10s-qr job on the graphics tree, r=kmoir,aobreja
  testing/mozharness/configs/unittests/win_unittest.py
Due: mozharness/opt, sphinx

Bug 1364018 - Coalesce wheel events more aggressively, r=stone
  dom/ipc/TabChild.cpp
  dom/ipc/TabChild.h
Due: none

Bug 1364127 - Set the initial tab label to the URL for new tabs and to the saved title for restored tabs, and make sure that label doesn't subsequently get clobbered with a placeholder r=past
  browser/base/content/tabbrowser.xml
  browser/components/sessionstore/SessionStore.jsm
  browser/components/sessionstore/test/browser.ini
  browser/components/sessionstore/test/browser_tab_label_during_restore.js
Due: none

Bug 1363668: P3. Assert that no error can occur while an internal seek is pending. r=jwwang
  dom/media/MediaFormatReader.cpp
Due: none

Bug 1362000 - When the position of masked frame changed, always regenerate mask layer if any of maskUnits/maskContentUnits/clipPathUnits is userSpaceOnUse. r=cjku
  layout/painting/FrameLayerBuilder.cpp
  layout/svg/nsSVGEffects.cpp
  layout/svg/nsSVGEffects.h
Due: none

Bug 1362000 - Regenerate mask layer when the boundary of the masked element changed. r=mstange a=jcristau
  layout/painting/FrameLayerBuilder.cpp
Due: none
