Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, win32-clang-cl/opt

android-api-15-gradle-dependencies:
  description: Android armv7 API 15+ gradle dependencies
  attributes:
    build_platform: android-api-15-gradle-dependencies
    build_type: opt
  index:
    product: mobile
    job-name: android-api-15-gradle-dependencies-opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: other
    tier: 2
  ...

android-test:
  description: Android armv7 unit tests
  attributes:
    build_platform: android-test
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-lint:
  description: Android lint
  attributes:
    build_platform: android-lint
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
    docker-image:
  ...

android-checkstyle:
  description: Android checkstyle
  attributes:
    build_platform: android-checkstyle
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-findbugs:
  description: Android findbugs
  attributes:
    build_platform: android-findbugs
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

linux-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux32-l10n-opt
  treeherder:
    platform: linux32/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

linux64-l10n/opt:
  description: Localization
  index:
    job-name:
      gecko-v2: linux64-l10n-opt
  treeherder:
    platform: linux64/opt
    symbol: tc(L10n)
  run:
    using: mozharness
    script: mozharness/scripts/desktop_l10n.py
    actions:
    - clone-locales list-locales setup repack summary
    config:
  ...

android-api-15-l10n/opt:
  description: Single Locale Repack
  index:
    product: mobile
    job-name:
      gecko-v2: android-l10n-opt
  treeherder:
    platform: android-api-15/opt
    symbol: tc(L10n)
  worker-type: aws-provisioner-v1/android-api-15
  worker:
    max-run-time: 18000
  run:
    using: mozharness
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

Bug 1311555 - Use filled bookmark star in ActivityStream context menu r=sebastian
  mobile/android/app/src/main/res/drawable/as_bookmark_filled.xml
  mobile/android/base/java/org/mozilla/gecko/home/activitystream/menu/ActivityStreamContextMenu.java
Due: android-test, android-lint, android-checkstyle, android-findbugs

Bug 1311555 - Use filled bookmark star in ActivityStream context menu r=sebastian
  mobile/android/base/java/org/mozilla/gecko/home/activitystream/menu/ActivityStreamContextMenu.java
  mobile/android/base/resources/drawable/as_bookmark_filled.xml
Due: android-test, android-lint, android-checkstyle, android-findbugs

Bug 1331324 - Prevent network load time of custom conditional request from being reported. r=michal
  netwerk/protocol/http/nsHttpChannel.cpp
Due: none

Bug 1325701 - test transform should produce a job description, not a task description; r=dustin
  taskcluster/ci/test/kind.yml
  taskcluster/docs/transforms.rst
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests/opt

Bug 1321790 - Change the JS Scalar API so that it doesn't throw. r=chutten
  toolkit/components/telemetry/TelemetryScalar.cpp
  toolkit/components/telemetry/tests/unit/test_TelemetryScalars.js
Due: none

Bug 1314919 - Fix Firebug layout problems. r=ntim
  devtools/client/dom/content/dom-view.css
  devtools/client/jsonview/components/search-box.js
  devtools/client/jsonview/css/search-box.css
  devtools/client/jsonview/css/toolbar.css
  devtools/client/shared/components/tabs/tabs.css
  devtools/client/themes/common.css
  devtools/client/themes/firebug-theme.css
  devtools/client/themes/netmonitor.css
  devtools/client/themes/tooltips.css
  devtools/client/themes/variables.css
  devtools/client/themes/widgets.css
Due: none

Bug 1331164 - The checkbox with the record call stack label is now vertically aligned in Memory tab. r=ntim
  devtools/client/themes/memory.css
Due: none

Bug 1329609 - Move new pref outside ifdef so it is available to non-QR reftests. r=ethlin?
  modules/libpref/init/all.js
Due: none

Bug 1319773 - Part 1: Add a SubsumesConsideringDomainIgnoringFPD in BasePrincipal. r=baku
  caps/BasePrincipal.cpp
  caps/BasePrincipal.h
  caps/nsIPrincipal.idl
  dom/base/ChromeUtils.cpp
  dom/base/ChromeUtils.h
Due: none

Bug 1319773 - Part 3: Making the WrapperFactory ignores the First Party Domain of the originAttributes when rewrapping the wrapper. r=mrbkap
  js/xpconnect/wrappers/AccessCheck.cpp
  js/xpconnect/wrappers/AccessCheck.h
  js/xpconnect/wrappers/WrapperFactory.cpp
Due: none

Bug 1328330 - Remove vp8 error concealment. r=jesup, r=jya
  media/libvpx/config/generic/vpx_config.asm
  media/libvpx/config/generic/vpx_config.c
  media/libvpx/config/generic/vpx_config.h
  media/libvpx/config/linux/arm/vpx_config.asm
  media/libvpx/config/linux/arm/vpx_config.c
  media/libvpx/config/linux/arm/vpx_config.h
  media/libvpx/config/linux/ia32/vpx_config.asm
  media/libvpx/config/linux/ia32/vpx_config.c
  media/libvpx/config/linux/ia32/vpx_config.h
  media/libvpx/config/linux/x64/vpx_config.asm
  media/libvpx/config/linux/x64/vpx_config.c
  media/libvpx/config/linux/x64/vpx_config.h
  media/libvpx/config/mac/ia32/vpx_config.asm
  media/libvpx/config/mac/ia32/vpx_config.c
  media/libvpx/config/mac/ia32/vpx_config.h
  media/libvpx/config/mac/x64/vpx_config.asm
  media/libvpx/config/mac/x64/vpx_config.c
  media/libvpx/config/mac/x64/vpx_config.h
  media/libvpx/config/win/ia32/vpx_config.asm
  media/libvpx/config/win/ia32/vpx_config.c
  media/libvpx/config/win/ia32/vpx_config.h
  media/libvpx/config/win/x64/vpx_config.asm
  media/libvpx/config/win/x64/vpx_config.c
  media/libvpx/config/win/x64/vpx_config.h
  media/libvpx/generate_sources_mozbuild.sh
  media/libvpx/sources.mozbuild
  old-configure.in
Due: none

Back out bug 1329609 (2 csets) for non-QR reftest failures. r=backout
  layout/reftests/box-sizing/reftest.list
  layout/reftests/css-sizing/reftest.list
  modules/libpref/init/all.js
Due: none

Bug 1326067 followup - Add basic/destructuring-iterator.js jit-test to cgc-jittest-timeouts.txt. r=me
  js/src/devtools/automation/cgc-jittest-timeouts.txt
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 1331938 - Part 1. Add SourceSurfaceVolatileData, a volatile data backed DataSourceSurface. r=nical
  gfx/2d/2D.h
  gfx/layers/SourceSurfaceVolatileData.cpp
  gfx/layers/SourceSurfaceVolatileData.h
  gfx/layers/moz.build
Due: none

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh
