Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sphinx, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, webidl-test, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest, linux64-clang/opt, linux64-clang-tidy/opt, linux64-gcc/opt, linux64-binutils/opt, linux64-cctools-port/opt

android-api-15-gradle-dependencies:
  description: Android armv7 API 15+ gradle dependencies
  attributes:
    build_platform: android-api-15-gradle-dependencies
    build_type: opt
  index:
    product: mobile
    job-name: android-api-15-gradle-dependencies-opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: other
    tier: 2
  ...

android-test:
  description: Android armv7 unit tests
  attributes:
    build_platform: android-test
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-lint:
  description: Android lint
  attributes:
    build_platform: android-lint
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
    docker-image:
  ...

android-checkstyle:
  description: Android checkstyle
  attributes:
    build_platform: android-checkstyle
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-findbugs:
  description: Android findbugs
  attributes:
    build_platform: android-findbugs
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  run:
    using: hazard
    tooltool-manifest: browser/config/tooltool-manifests/linux64/hazard.manifest
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

sm-plain/opt:
  description: Spidermonkey Plain
  index:
    job-name: sm-plain-opt
  treeherder:
    symbol: SM-tc(p)
  run:
    spidermonkey-variant: plain
  run-on-projects:
  - integration
  - release

Bug 1382437 - fix send-tab promo URL. r=kitcambridge
  browser/base/content/browser-sync.js
Due: none

Bug 1367024: Fix array index out of bounds in StreamRecyclerAdapter. r=liuche
  mobile/android/base/java/org/mozilla/gecko/activitystream/homepanel/StreamRecyclerAdapter.java
Due: android-test, android-lint, android-checkstyle, android-findbugs

Bug 1382556 - Fix loading the whitelist file from histogram_tools.py. r=chutten
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/histogram-whitelists.json
  toolkit/components/telemetry/histogram_tools.py
Due: sphinx

Bug 1382343 - Improve the hash function used in hashIdDerivedFromPtr() to rely on HashGeneric(); r=fitzgen
  devtools/shared/heapsnapshot/DeserializedNode.h
Due: none

Bug 1382269 - Backout changeset 648169abf928 (bug 1356181) to remove the expired FORM_ISINDEX_USED telemetry probe
  dom/html/HTMLFormSubmission.cpp
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/histogram-whitelists.json
Due: none

Bug 1377280 - Enable keyboard APZ on nightly for all platforms except Android. r=kats
  modules/libpref/init/all.js
Due: none

Bug 1382358 - Allow unusual/spurious glsl versions in non-DEBUG builds. - r=kvark
  dom/canvas/WebGLShaderValidator.cpp
Due: none

Bug 1381613 - Populate a repository-less index route for "trunk" repos; r=dustin
  taskcluster/taskgraph/transforms/task.py
Due: taskgraph-tests/opt, sphinx, taskgraph-tests

Bug 1382501: Don't use NetUtil to parse URIs. r=trivial
  browser/components/extensions/ext-history.js
  browser/components/extensions/ext-menus.js
  toolkit/components/extensions/Extension.jsm
  toolkit/components/extensions/ExtensionParent.jsm
  toolkit/components/extensions/ext-cookies.js
Due: none

Bug 1382091 - Delete ImageKeys with ClearCachedResources r=nical
  gfx/layers/wr/WebRenderBridgeChild.cpp
  gfx/layers/wr/WebRenderBridgeParent.cpp
  gfx/layers/wr/WebRenderLayerManager.cpp
  gfx/layers/wr/WebRenderLayerManager.h
Due: none

Bug 1382076 - Use FramePointerStackWalk() in DMD on Win32. r=erahm.
  memory/replace/dmd/DMD.cpp
Due: sm-package/opt

Bug 1381577 - Part AF; Add tests for windows PGO and windows nightly. r=kmoir Land date changes to support windows nightlies onto central
  taskcluster/ci/test/test-platforms.yml
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests/opt, sphinx, taskgraph-tests

Bug 1381577 - Part AB; Fix typo to make windows PGO get signed. r=kmoir Land date changes to support windows nightlies onto central
  taskcluster/taskgraph/loader/build_signing.py
Due: taskgraph-tests/opt, sphinx, taskgraph-tests

Backed out changeset d38c3ad6fe5b (bug 1381984) for Android checkstyle bustage on a CLOSED TREE.
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/StringUtils.java
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/publicsuffix/PublicSuffix.java
  mobile/android/tests/background/junit4/src/org/mozilla/gecko/util/TestStringUtils.java
Due: android-test, android-lint, android-checkstyle, android-findbugs

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sphinx: any of: **/*.py, **/*.rst, tools/docs/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mochitest-harness: any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  jittest: any of: js/src/**, js/public/**
  jsreftest: any of: js/src/**, js/public/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port.sh, taskcluster/taskgraph/transforms/job/toolchain.py
