Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sphinx, webidl-test, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest, linux64-clang/opt, linux64-clang-tidy/opt, linux64-gcc/opt, linux64-binutils/opt, linux64-cctools-port/opt, win32-clang-cl/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sphinx: any of: **/*.py, **/*.rst, tools/docs/**
  webidl-test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  jittest: any of: js/src/**, js/public/**
  jsreftest: any of: js/src/**, js/public/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh

Bug 1365708 - Stop running awsy on linux32 r=jmaher
  taskcluster/ci/test/test-platforms.yml
Due: none

Bug 1365443 - Unbreak wildcard rules in GECKO_DISPLAY_REFLOW_RULES_FILE. r=emilio
  layout/generic/nsFrame.cpp
Due: none

Bug 1364622 - Factor out a helper function for computing the current async transform for a HitTestingTreeNode. r=kats
  gfx/layers/apz/src/APZCTreeManager.cpp
  gfx/layers/apz/src/APZCTreeManager.h
  gfx/layers/apz/src/HitTestingTreeNode.cpp
  gfx/layers/apz/src/HitTestingTreeNode.h
Due: none

Bug 1364622 - Consider the async transforms on the scroll thumb when computing the drag start offset during APZ initiation of scrollbar dragging. r=kats
  gfx/layers/apz/src/APZCTreeManager.cpp
Due: none

[focus] Add custom tab intent telemetry (https://github.com/mozilla-mobile/focus-android/issues/450)
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.java
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/telemetry/TelemetryWrapper.java
  mobile/android/focus-android/docs/telemetry.md
Due: android-lint, android-checkstyle, android-findbugs

[focus] Add ParcelableArrayListExtra to SafeIntent (https://github.com/mozilla-mobile/focus-android/issues/500)
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/utils/SafeIntent.java
Due: android-lint, android-checkstyle, android-findbugs

[focus] Show custom tab menu items (https://github.com/mozilla-mobile/focus-android/issues/450)
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/menu/BrowserMenuAdapter.java
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/menu/CustomTabMenuItemViewHolder.java
  mobile/android/focus-android/app/src/main/res/layout/custom_tab_menu_item.xml
  mobile/android/focus-android/app/src/main/res/values/ids.xml
Due: android-lint, android-checkstyle, android-findbugs

[focus] Disable share menu unless explicitly enabled for custom tabs (https://github.com/mozilla-mobile/focus-android/issues/450)
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/menu/BrowserMenuAdapter.java
Due: android-lint, android-checkstyle, android-findbugs

[focus] Add SafeBundle for safe bundle handling (https://github.com/mozilla-mobile/focus-android/issues/450)
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/utils/SafeBundle.java
Due: android-lint, android-checkstyle, android-findbugs

[focus] Pass CustomTabConfig into BrowserMenu (https://github.com/mozilla-mobile/focus-android/issues/450)
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.java
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/menu/BrowserMenu.java
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/menu/BrowserMenuAdapter.java
Due: android-lint, android-checkstyle, android-findbugs

[focus] Upgrade SafeIntent.getBundleExtra to SafeBundle
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/utils/SafeIntent.java
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/web/CustomTabConfig.java
Due: android-lint, android-checkstyle, android-findbugs

[focus] Parse menu items into CustomTabConfig (https://github.com/mozilla-mobile/focus-android/issues/450)
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/web/CustomTabConfig.java
Due: android-lint, android-checkstyle, android-findbugs

Bug 1359316 - (intersection-observer) Intersection ratio should be 1.0 for zero-area intersections. r=mstange
  dom/base/DOMIntersectionObserver.cpp
  dom/base/test/test_intersectionobservers.html
  testing/web-platform/meta/intersection-observer/zero-area-element-visible.html.ini
Due: none

Bug 1365415: No need to hook LdrResolveDelayLoadedAPI on Win7, it doesn't exist. r=mstange
  mozglue/misc/StackWalk.cpp
  toolkit/xre/test/win/TestDllInterceptor.cpp
Due: sm-package/opt

Bug 1337667 - Add need-xvfb to stylo build Taskcluster configs. r=dustin
  taskcluster/ci/build/linux.yml
Due: none

servo: Merge #16911 - Bug 1365471: Check bool flags before going through FFI in a variety of situations. r=bz (from emilio:bits); r=bzbarsky
  servo/components/style/gecko/wrapper.rs
Due: none

Bug 1365706: Use a special set of startup data when running in safe mode. r=rhelmer
  toolkit/mozapps/extensions/internal/XPIProvider.jsm
Due: none

Revert "Bug 1363877 - Label IPC shmem messages as SystemGroup (r=dvander)" for valgrind failures
  ipc/glue/ProtocolUtils.cpp
  ipc/glue/ProtocolUtils.h
  xpcom/threads/SystemGroup.cpp
  xpcom/threads/SystemGroup.h
Due: none

Bug 1337667 - Un-skip xpcshell selftests for stylo now that they're passing. r=jryans
  testing/xpcshell/selftest.py
Due: sphinx
