Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, linux64-clang/opt, linux64-clang-tidy/opt, linux64-gcc/opt, linux64-binutils/opt, linux64-cctools-port/opt, win32-clang-cl/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh

Bug 1337457 - ESlint fix a=bustage
  browser/components/extensions/ext-commands.js
Due: none

Bug 1343938 - Fix new installs erroneously not prompting to change the default browser setting. r=agashlin
  browser/installer/windows/nsis/installer.nsi
Due: none

Bug 1343938 - Fix new installs erroneously not prompting to change the default browser setting. r=agashlin, a=jcristau
  browser/installer/windows/nsis/installer.nsi
Due: none

Bug 1343938 - Fix new installs erroneously not prompting to change the default browser setting. r=agashlin, a=sledru
  browser/installer/windows/nsis/installer.nsi
Due: none

[focus] Ignore compiled python code.
  mobile/android/focus-android/.gitignore
Due: none

Bug 1264494 - Remove xvfb and secrets from static analysis builds. r=dustin
  taskcluster/ci/static-analysis/kind.yml
Due: none

Bug 1264494 - Turn on Linux64 debug static analysis builds on Taskcluster. r=dustin,kmoir
  taskcluster/ci/static-analysis/kind.yml
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_stat_and_debug.py
Due: taskgraph-tests/opt, mozharness/opt

Bug 1264494 - Turn on Mac OSX 64 debug static analysis builds on Taskcluster. r=dustin,kmoir
  browser/config/mozconfigs/macosx64/debug-static-analysis
  taskcluster/ci/static-analysis/kind.yml
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  testing/mozharness/configs/builds/releng_sub_mac_configs/64_cross_debug_st_an.py
  testing/mozharness/mozharness/mozilla/building/buildbase.py
Due: taskgraph-tests/opt, mozharness/opt

Bug 1343603 - Part 2 - Test that clearing history clears the cached session store data, too. r=ahunt
  mobile/android/tests/browser/chrome/basic_article_mobile.html
  mobile/android/tests/browser/chrome/chrome.ini
  mobile/android/tests/browser/chrome/test_session_clear_history.html
Due: none

Bug 1343603 - Part 2 - Test that clearing history clears the cached session store data, too. r=ahunt a=gchang
  mobile/android/tests/browser/chrome/basic_article_mobile.html
  mobile/android/tests/browser/chrome/chrome.ini
  mobile/android/tests/browser/chrome/test_session_clear_history.html
Due: none

Bug 1343603 - Part 2: Test that clearing history clears the cached session store data, too. r=ahunt, a=ritu
  mobile/android/tests/browser/chrome/basic_article_mobile.html
  mobile/android/tests/browser/chrome/chrome.ini
  mobile/android/tests/browser/chrome/test_session_clear_history.html
Due: none

Bug 1339872: Bump max tries for earliest runAt states. r=me
  mobile/android/components/extensions/test/mochitest/test_ext_tabs_executeScript_runAt.html
Due: none

Bug 1343581 - Expose wasm function return value to Debugger.Frame. r=luke
  js/src/jit-test/tests/debug/wasm-get-return.js
  js/src/vm/Stack-inl.h
  js/src/wasm/WasmCode.cpp
  js/src/wasm/WasmCode.h
  js/src/wasm/WasmDebugFrame.cpp
  js/src/wasm/WasmDebugFrame.h
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmGenerator.h
  js/src/wasm/WasmTypes.cpp
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 1343603 - Part 1: Immediately clear cached session store history data when clearing history. r=ahunt, a=ritu
  mobile/android/components/SessionStore.js
Due: none
