Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sphinx, webidl-test, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest, linux64-clang/opt, linux64-clang-tidy/opt, linux64-gcc/opt, linux64-binutils/opt, linux64-cctools-port/opt, win32-clang-cl/opt

android-api-15-gradle-dependencies:
  description: Android armv7 API 15+ gradle dependencies
  attributes:
    build_platform: android-api-15-gradle-dependencies
    build_type: opt
  index:
    product: mobile
    job-name: android-api-15-gradle-dependencies-opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: other
    tier: 2
  ...

android-test:
  description: Android armv7 unit tests
  attributes:
    build_platform: android-test
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-lint:
  description: Android lint
  attributes:
    build_platform: android-lint
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
    docker-image:
  ...

android-checkstyle:
  description: Android checkstyle
  attributes:
    build_platform: android-checkstyle
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-findbugs:
  description: Android findbugs
  attributes:
    build_platform: android-findbugs
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozbase/opt:
  description: testing/mozbase unit tests
  platforms:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/b2gtest
  worker:
    by-platform:
      linux64.*:
        implementation: docker-worker
        docker-image:
  ...

sm-plain/opt:
  description: Spidermonkey Plain
  index:
    job-name: sm-plain-opt
  treeherder:
    symbol: SM-tc(p)
  run:
    spidermonkey-variant: plain
  run-on-projects:
  - integration
  - release

Bug 1362347 - Update response expectations for open-url-worker-origin.htm, r=annevk
  testing/web-platform/meta/XMLHttpRequest/open-url-worker-origin.htm.ini
  testing/web-platform/tests/XMLHttpRequest/open-url-worker-origin.htm
Due: none

Bug 1364345 - Optimize splice to shift the elements header when deleting from the start of the array. r=anba
  js/src/jsarray.cpp
  js/src/vm/NativeObject-inl.h
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest

Bug 1364068 - Enable the 'new-profile' ping. r=gfritzsche
  browser/app/profile/firefox.js
  toolkit/components/telemetry/tests/unit/head.js
Due: none

Bug 1354144 - add support for keyboard navigation inside panel views. r=Gijs
  browser/components/customizableui/PanelMultiView.jsm
  browser/components/customizableui/content/panelUI.xml
  browser/themes/shared/customizableui/panelUI.inc.css
Due: none

Bug 1350864 - Fix SetIntegrityLevel to set non-writable length correctly when freezing arrays. r=Waldo
  js/src/jit-test/tests/ion/array-push-frozen-array.js
  js/src/jsarray.cpp
  js/src/jsobj.cpp
  js/src/vm/ArrayObject.h
  js/src/vm/NativeObject.h
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest

Bug 963983 - posix_madvise() should be used instead of madvise() on Solaris. r=jandem
  js/src/gc/Memory.cpp
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest

Bug 1354126 - update labeling and styling of footer buttons, r=mikedeboer
  browser/components/customizableui/content/customizeMode.inc.xul
  browser/locales/en-US/chrome/browser/browser.dtd
  browser/themes/shared/customizableui/customizeMode.inc.css
  browser/themes/shared/icons/arrow-dropdown.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/sidebar.inc.css
Due: none

Bug 1359357 - Test for IPCBlob and workers, r=smaug
  dom/file/ipc/tests/mochitest.ini
  dom/file/ipc/tests/test_ipcBlob_workers.html
Due: none

Bug 1359357 - IPCBlobInputStreamChild should be protected by a WorkerHolder, r=smaug
  dom/file/ipc/IPCBlobInputStreamChild.cpp
  dom/file/ipc/IPCBlobInputStreamChild.h
Due: none

Bug 1365293 - Enable e10s tests on linux64-ccov. r=jmaher
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests/opt, sphinx

no bug - Bumping Fennec l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

servo: Merge #16917 - Update WR (Intel driver workaround, subpixel and other bugfixes) (from glennw:update-wr-bugs); r=emilio
  servo/Cargo.lock
  servo/python/servo/testing_commands.py
Due: sphinx

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sphinx: any of: **/*.py, **/*.rst, tools/docs/**
  webidl-test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  jittest: any of: js/src/**, js/public/**
  jsreftest: any of: js/src/**, js/public/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh
