Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, android-findbugs, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sphinx, webidl-test, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, jittest, jsreftest, linux64-clang/opt, linux64-clang-tidy/opt, linux64-gcc/opt, linux64-binutils/opt, linux64-cctools-port/opt, win32-clang-cl/opt

android-api-15-gradle-dependencies:
  description: Android armv7 API 15+ gradle dependencies
  attributes:
    build_platform: android-api-15-gradle-dependencies
    build_type: opt
  index:
    product: mobile
    job-name: android-api-15-gradle-dependencies-opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: other
    tier: 2
  ...

android-test:
  description: Android armv7 unit tests
  attributes:
    build_platform: android-test
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-lint:
  description: Android lint
  attributes:
    build_platform: android-lint
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
    docker-image:
  ...

android-checkstyle:
  description: Android checkstyle
  attributes:
    build_platform: android-checkstyle
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

android-findbugs:
  description: Android findbugs
  attributes:
    build_platform: android-findbugs
    build_type: opt
  treeherder:
    platform: android-4-0-armv7-api15/opt
    kind: test
    tier: 2
    symbol: tc(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    implementation: docker-worker
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozbase/opt:
  description: testing/mozbase unit tests
  platforms:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/b2gtest
  worker:
    by-platform:
      linux64.*:
        implementation: docker-worker
        docker-image:
  ...

sm-plain/opt:
  description: Spidermonkey Plain
  index:
    job-name: sm-plain-opt
  treeherder:
    symbol: SM-tc(p)
  run:
    spidermonkey-variant: plain
  run-on-projects:
  - integration
  - release

Bug 1364262 - Convert SRI metadata to ASCII before parsing it. r=ckerschb
  dom/security/SRICheck.cpp
  dom/security/test/sri/mochitest.ini
  dom/security/test/sri/test_bug_1364262.html
Due: none

servo: Merge #16890 - Fix serialization of namespace and universal selectors (from servo:qname); r=emilio
  servo/components/selectors/matching.rs
  servo/components/selectors/parser.rs
  servo/components/style/stylist.rs
  servo/tests/unit/style/stylesheets.rs
  servo/tests/unit/style/stylist.rs
Due: none

Bug 1365068 - import with destructuring, switch to shorthand function declarations and use array.includes. r=MattN
  toolkit/components/satchel/AutoCompletePopup.jsm
  toolkit/components/satchel/FormHistory.jsm
  toolkit/components/satchel/FormHistoryStartup.js
  toolkit/components/satchel/formSubmitListener.js
  toolkit/components/satchel/nsFormAutoComplete.js
  toolkit/components/satchel/nsFormAutoCompleteResult.jsm
  toolkit/components/satchel/nsInputListAutoComplete.js
Due: none

Bug 1341102 - Update reftest expectations.
  layout/reftests/bugs/reftest.list
  layout/reftests/text-overflow/reftest.list
Due: none

Bug 1364505 - Write tests for plugin favor-fallback mode. r=qDot
  browser/base/content/test/plugins/browser.ini
  browser/base/content/test/plugins/browser_CTP_favorfallback.js
  browser/base/content/test/plugins/plugin_favorfallback.html
  browser/base/content/test/plugins/plugin_simple_blank.swf
Due: none

Bug 1364505 - Add a rule to favor plugin fallback content when no srcURI has been specified. r=qDot
  dom/base/nsObjectLoadingContent.cpp
Due: none

Bug 1317856 - Make the Flash plugin Click-to-Activate by default on Nightly. r=bsmedberg
  browser/app/profile/firefox.js
  modules/libpref/init/all.js
Due: none

Bug 1317856 - Ensure that flashblock tests are not affected by nosrc fallback rule. r=bytesized
  toolkit/components/url-classifier/tests/browser/browser.ini
  toolkit/components/url-classifier/tests/browser/flash_block_frame.html
  toolkit/components/url-classifier/tests/browser/simple_blank.swf
Due: none

Bug 1375710 - Remove CPOWs from browser_tabfocus.js. r=Gijs
  browser/base/content/test/general/browser_tabfocus.js
Due: none

Bug 1375710 - Remove CPOWs from browser_iframe_gone_mid_download.js. r=Gijs
  browser/components/downloads/test/browser/browser_iframe_gone_mid_download.js
  browser/components/downloads/test/browser/head.js
Due: none

Bug 1343855 - Part 2 - Add support for key whitelists in keyed histograms. r=gfritzsche, data-review=francois
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/Scalars.yaml
  toolkit/components/telemetry/TelemetryHistogram.cpp
  toolkit/components/telemetry/docs/collection/histograms.rst
  toolkit/components/telemetry/gen-histogram-data.py
  toolkit/components/telemetry/tests/gtest/TestHistograms.cpp
  toolkit/components/telemetry/tests/unit/test_TelemetryHistograms.js
Due: sphinx

Bug 1365460 - Remove unused macros from rb.h. r=njn
  memory/mozjemalloc/rb.h
Due: sm-package/opt

Bug 1365460 - Remove unused qr.h and ql.h headers. r=njn
  memory/mozjemalloc/ql.h
  memory/mozjemalloc/qr.h
Due: sm-package/opt

servo: Merge #16795 - Don't optimize display list for projective transforms (from mrobinson:out-of-viewport-transform); r=glennw
  servo/components/layout/display_list_builder.rs
Due: none

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, taskcluster/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  android-findbugs: any of: mobile/android/**/*.gradle, mobile/android/**/*.java
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sphinx: any of: **/*.py, **/*.rst, tools/docs/**
  webidl-test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  jittest: any of: js/src/**, js/public/**
  jsreftest: any of: js/src/**, js/public/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh
