Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, linux64-clang/opt, linux64-gcc/opt, linux64-binutils/opt

Path conditions:
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh

Bug 1309796 - add eslint support for netmonitor; r=Honza
  devtools/client/netmonitor/.eslintrc
  devtools/client/netmonitor/har/har-automation.js
  devtools/client/netmonitor/har/har-exporter.js
  devtools/client/netmonitor/har/har-utils.js
  devtools/client/netmonitor/netmonitor-controller.js
  devtools/client/netmonitor/netmonitor-view.js
  devtools/client/netmonitor/request-utils.js
  devtools/client/netmonitor/requests-menu-view.js
Due: none

Bug 1309646 - Part 2. Add TODO comment in nsCSSRendering::ComputeImageLayerPositioningArea. r=mstange
  layout/base/nsCSSRendering.cpp
Due: none

Bug 1305949 - Use the same path for passing on missed data to video sink, as during normal operation. r=ctai
  dom/media/MediaStreamGraph.cpp
Due: none

Bug 1280477 - Import jsoncpp into the source tree and integrate it into the build r=ted
  build/clang-plugin/clang-plugin.cpp
  toolkit/crashreporter/jsoncpp/AUTHORS
  toolkit/crashreporter/jsoncpp/GIT-INFO
  toolkit/crashreporter/jsoncpp/LICENSE
  toolkit/crashreporter/jsoncpp/NEWS.txt
  toolkit/crashreporter/jsoncpp/README.md
  toolkit/crashreporter/jsoncpp/include/json/allocator.h
  toolkit/crashreporter/jsoncpp/include/json/assertions.h
  toolkit/crashreporter/jsoncpp/include/json/autolink.h
  toolkit/crashreporter/jsoncpp/include/json/config.h
  toolkit/crashreporter/jsoncpp/include/json/features.h
  toolkit/crashreporter/jsoncpp/include/json/forwards.h
  toolkit/crashreporter/jsoncpp/include/json/json.h
  toolkit/crashreporter/jsoncpp/include/json/reader.h
  toolkit/crashreporter/jsoncpp/include/json/value.h
  toolkit/crashreporter/jsoncpp/include/json/version.h
  toolkit/crashreporter/jsoncpp/include/json/writer.h
  toolkit/crashreporter/jsoncpp/src/lib_json/json_reader.cpp
  toolkit/crashreporter/jsoncpp/src/lib_json/json_tool.h
  toolkit/crashreporter/jsoncpp/src/lib_json/json_value.cpp
  toolkit/crashreporter/jsoncpp/src/lib_json/json_valueiterator.inl
  toolkit/crashreporter/jsoncpp/src/lib_json/json_writer.cpp
  toolkit/crashreporter/jsoncpp/src/lib_json/moz.build
  toolkit/crashreporter/moz.build
  toolkit/crashreporter/update-jsoncpp.sh
Due: sm-package/opt

Bug 1305949 - Use only one listener in MediaPipelineTransmit. r=ctai
  media/webrtc/signaling/src/mediapipeline/MediaPipeline.cpp
  media/webrtc/signaling/src/mediapipeline/MediaPipeline.h
  media/webrtc/signaling/test/FakeMediaStreams.h
Due: none

Backed out changeset fe84473a739c (bug 567954) for failing mda tests due to own test
  dom/media/test/mochitest.ini
  dom/media/test/test_mixed_principals.html
Due: none

Bug 1292311 - Blacklist nVidia drivers <= 187.45 for frequent shutdown crashes. r=jrmuizel, a=ritu
  widget/windows/GfxInfo.cpp
Due: none

Bug 1292311 - Blacklist nVidia drivers <= 187.45 for frequent shutdown crashes - r=jrmuizel
  widget/windows/GfxInfo.cpp
Due: none

Bug 1264529 - If an adoption of <img> is happening with the different source and destination document, we need to force it to reload; r=jdm
  dom/html/HTMLImageElement.cpp
  dom/html/HTMLImageElement.h
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/document-adopt-base-url.html.ini
Due: none

Bug 1309615 - Don't skip shrinking the nursery when it's not being used r=sfink
  js/src/gc/Nursery.cpp
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 1309615 - Don't skip shrinking the nursery when it's not being used r=sfink
  js/src/gc/Nursery.cpp
  js/src/gc/Nursery.h
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 950058 - Split each download item so that all of the right part of it activates the action. r=paolo
  browser/components/downloads/content/download.xml
  browser/components/downloads/content/downloads.css
  browser/themes/linux/downloads/downloads.css
  browser/themes/osx/downloads/downloads.css
  browser/themes/shared/downloads/allDownloadsViewOverlay.inc.css
  browser/themes/shared/downloads/downloads.inc.css
  browser/themes/windows/downloads/downloads.css
Due: none

Bug 1289139 - Replace all PNG download button icons with SVG format icons. r=paolo
  browser/components/downloads/content/downloads.css
  browser/themes/linux/downloads/allDownloadsViewOverlay.css
  browser/themes/linux/downloads/buttons.png
  browser/themes/linux/downloads/downloads.css
  browser/themes/linux/jar.mn
  browser/themes/osx/downloads/allDownloadsViewOverlay.css
  browser/themes/osx/downloads/buttons.png
  browser/themes/osx/downloads/buttons@2x.png
  browser/themes/osx/downloads/downloads.css
  browser/themes/osx/jar.mn
  browser/themes/shared/downloads/allDownloadsViewOverlay.inc.css
  browser/themes/shared/downloads/downloads.inc.css
  browser/themes/shared/panel-icons.svg
  browser/themes/windows/downloads/allDownloadsViewOverlay.css
  browser/themes/windows/downloads/buttons-XP.png
  browser/themes/windows/downloads/buttons.png
  browser/themes/windows/downloads/downloads.css
  browser/themes/windows/jar.mn
Due: none
