Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, linux64-clang/opt, linux64-gcc/opt, linux64-binutils/opt, win32-clang-cl/opt

Path conditions:
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh

Bug 1312379 part 2 - [css-flexbox] Improve support for CSS Alignment 'last baseline' alignment by exporting the last baseline when asked for. r=dholbert
  layout/generic/nsFlexContainerFrame.cpp
  layout/generic/nsFlexContainerFrame.h
Due: none

Bug 1312379 part 4 - Rename GetBaseline() to BaselineBOffset(). r=me
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsGridContainerFrame.cpp
  layout/generic/nsIFrame.h
  layout/generic/nsIFrameInlines.h
Due: none

Bug 1324924 - Support ImageBitmap for Tex*Image*. (flattened) - r=bz,daoshengmu,mtseng. a=gchang
  dom/base/StructuredCloneHolder.cpp
  dom/canvas/ImageBitmap.cpp
  dom/canvas/ImageBitmap.h
  dom/canvas/WebGLContext.h
  dom/canvas/WebGLTextureUpload.cpp
  dom/webidl/WebGL2RenderingContext.webidl
  dom/webidl/WebGLRenderingContext.webidl
Due: none

Bug 1322735 - Remove MOZ_STACKWALKING define. r=glandium, a=jcristau
  browser/app/profile/firefox.js
  js/src/jit/ExecutableAllocatorWin.cpp
  mozglue/misc/StackWalk.h
  mozglue/misc/moz.build
  old-configure.in
  security/sandbox/chromium-shim/sandbox/win/loggingCallbacks.h
  tools/profiler/core/platform-win32.cc
  xpcom/base/nsTraceRefcnt.cpp
  xpcom/build/LateWriteChecks.cpp
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 1322735 - Remove MOZ_STACKWALKING define. r=glandium
  browser/app/profile/firefox.js
  js/src/jit/ExecutableAllocatorWin.cpp
  js/src/old-configure.in
  mozglue/misc/StackWalk.h
  mozglue/misc/moz.build
  old-configure.in
  security/sandbox/chromium-shim/sandbox/win/loggingCallbacks.h
  toolkit/components/telemetry/Telemetry.cpp
  toolkit/components/telemetry/tests/unit/test_TelemetryCaptureStack.js
  toolkit/modules/AppConstants.jsm
  tools/profiler/core/platform-win32.cc
  xpcom/base/nsTraceRefcnt.cpp
  xpcom/build/LateWriteChecks.cpp
Due: sm-package/opt, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Bug 1321176 - Handle unresolved url value gracefully. r=heycam,manishearth
  layout/style/ServoBindings.cpp
Due: none

Bug 1325103 - Clear mRegisteredIntersectionObservers when unlinking DOMSlots. r=mstange
  dom/base/FragmentOrElement.cpp
Due: none

Bug 1322735 - Remove OBSERVE_LATE_WRITES define. r=glandium
  xpcom/build/LateWriteChecks.cpp
Due: none

Bug 1321374 (follow-up) - Bustage fix. a=bustage.
  js/xpconnect/src/XPCWrappedNativeJSOps.cpp
Due: none

Bug 1321374 - Simplify js::Class handling relating to nsIXPCScriptable. r=mccr8, sr=bholley, a=lizzard
  dom/base/nsDOMClassInfo.cpp
  dom/base/nsDOMClassInfo.h
  js/xpconnect/idl/nsIXPCScriptable.idl
  js/xpconnect/public/moz.build
  js/xpconnect/public/xpc_make_class.h
  js/xpconnect/public/xpc_map_end.h
  js/xpconnect/src/Sandbox.cpp
  js/xpconnect/src/XPCComponents.cpp
  js/xpconnect/src/XPCForwards.h
  js/xpconnect/src/XPCJSContext.cpp
  js/xpconnect/src/XPCJSID.cpp
  js/xpconnect/src/XPCMaps.cpp
  js/xpconnect/src/XPCMaps.h
  js/xpconnect/src/XPCWrappedNative.cpp
  js/xpconnect/src/XPCWrappedNativeJSOps.cpp
  js/xpconnect/src/xpcprivate.h
  js/xpconnect/src/xpcpublic.h
  storage/mozStorageAsyncStatementJSHelper.cpp
  storage/mozStorageAsyncStatementParams.cpp
  storage/mozStorageStatementJSHelper.cpp
  storage/mozStorageStatementRow.cpp
  toolkit/components/ctypes/ctypes.cpp
  toolkit/components/perf/PerfMeasurement.cpp
  toolkit/components/reflect/reflect.cpp
Due: none

servo: Merge #14653 - stylo: Fix assertion for unresolvable url (from upsuper:bug1321176); r=Manishearth
  servo/components/script/dom/element.rs
  servo/components/style/gecko/conversions.rs
  servo/components/style/properties/gecko.mako.rs
  servo/components/style/values/specified/image.rs
  servo/components/style/values/specified/url.rs
Due: none

Bug 1324543 - Fix inheritance in our webidl. - r=jgilbert,bz. a=gchang
  dom/bindings/Bindings.conf
  dom/canvas/WebGL2Context.h
  dom/webidl/WebGL2RenderingContext.webidl
  dom/webidl/WebGLRenderingContext.webidl
Due: sm-package/opt

Bug 1324543 - Fix inheritance in our webidl. - r=jgilbert,bz
  dom/bindings/Bindings.conf
  dom/canvas/WebGL2Context.h
  dom/webidl/WebGL2RenderingContext.webidl
  dom/webidl/WebGLRenderingContext.webidl
Due: sm-package/opt
