Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, windows

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: clang(tidy)
  run:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: clang(format)
  run:
  ...

Bug 1550691: Re-enable this test on aarch64. r=jib
  testing/web-platform/meta/webrtc/RTCDataChannel-bufferedAmount.html.ini
Due: bugzilla-components, test-manifest

Bug 1538995 - pass list of partners to beetmover for pushing to releases/partners/, r=aki
  taskcluster/taskgraph/transforms/task.py
Due: taskgraph-tests/opt, bugzilla-components, py-compat, py-flake8, taskgraph-tests

Bug 1538995 - submit partner products to bouncer when we'll host the files, r=aki
  taskcluster/ci/release-partner-repack-bouncer-sub/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/transforms/bouncer_submission_partners.py
  taskcluster/taskgraph/util/partners.py
Due: taskgraph-tests/opt, bugzilla-components, py-compat, py-flake8, yaml, taskgraph-tests

Bug 1358983 - Fix zombie highlighters. r=miker.
  devtools/client/framework/toolbox.js
  devtools/client/webconsole/test/mochitest/browser_webconsole_nodes_highlight.js
  devtools/client/webconsole/webconsole-wrapper.js
Due: bugzilla-components, eslint, devtools-tests

Bug 1558517 - Pre 5: Remove redundant or unused globs from .prettierignore, r=standard8
  .prettierignore
Due: bugzilla-components

Bug 1560429 - Fix low-alpha hexa longAlphaHex getter. r=miker.
  devtools/client/shared/test/browser_css_color.js
  devtools/client/shared/test/helper_color_data.js
  devtools/shared/css/color.js
Due: bugzilla-components, eslint

Bug 1560356 - Make sure we only expand one event header at a time; r=miker
  devtools/client/inspector/markup/test/helper_events_test_runner.js
  devtools/client/shared/widgets/tooltip/EventTooltipHelper.js
Due: bugzilla-components, eslint

Bug 1549830 - Create content blocking database. r=johannh
  browser/modules/Sanitizer.jsm
  dom/base/ContentBlockingLog.cpp
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  toolkit/components/antitracking/TrackingDBService.jsm
  toolkit/components/antitracking/moz.build
  toolkit/components/antitracking/nsITrackingDBService.idl
  toolkit/components/antitracking/test/xpcshell/test_tracking_db_service.js
  toolkit/components/antitracking/test/xpcshell/xpcshell.ini
  toolkit/components/cleardata/ClearDataService.jsm
  toolkit/components/cleardata/nsIClearDataService.idl
Due: tidy, format, coverity, bugzilla-components, eslint, test-manifest

Backed out changeset 5656e43f9b43 (bug 1560006) for debugger test fails at SourcesTreeItem.spec.js
  devtools/client/debugger/package.json
  devtools/client/debugger/yarn.lock
  devtools/client/shared/vendor/REACT_PROP_TYPES_UPGRADING.md
  devtools/client/shared/vendor/REACT_UPGRADING.md
  devtools/client/shared/vendor/react-dev.js
  devtools/client/shared/vendor/react-dom-dev.js
  devtools/client/shared/vendor/react-dom-server-dev.js
  devtools/client/shared/vendor/react-dom-server.js
  devtools/client/shared/vendor/react-dom-test-utils-dev.js
  devtools/client/shared/vendor/react-dom-test-utils.js
  devtools/client/shared/vendor/react-dom.js
  devtools/client/shared/vendor/react-prop-types-dev.js
  devtools/client/shared/vendor/react-prop-types.js
  devtools/client/shared/vendor/react-test-renderer-shallow.js
  devtools/client/shared/vendor/react-test-renderer.js
  devtools/client/shared/vendor/react.js
Due: bugzilla-components, eslint, debugger-tests

Bug 1561435 - Fix linting errors for remote/, r=standard8
  remote/test/browser/browser_page_frameNavigated.js
  remote/test/browser/browser_page_runtime_events.js
  remote/test/browser/browser_runtime_executionContext.js
Due: bugzilla-components, eslint

Bug 1531354 - P1. Remove mPrefixSet and mUpdateCompletions from LookupCacheV2 and use mVLPresetSet. r=gcp
  toolkit/components/url-classifier/Classifier.cpp
  toolkit/components/url-classifier/LookupCache.cpp
  toolkit/components/url-classifier/LookupCache.h
  toolkit/components/url-classifier/LookupCacheV4.cpp
  toolkit/components/url-classifier/LookupCacheV4.h
Due: tidy, format, coverity, bugzilla-components

Bug 1531354 - P4. Skip reading hashstore in RegenActiveTables. r=gcp
  toolkit/components/url-classifier/Classifier.cpp
Due: tidy, format, coverity, bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/aboutdebugging-new/src/components/**, devtools/client/framework/components/**, devtools/client/webconsole/**, devtools/client/netmonitor/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
