Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1583837 - allow more significant increases in font size / zoom in reader mode, more quickly, r=jaws
  toolkit/components/reader/AboutReader.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1581757 - Support slicing the scene into an arbitrary number of picture cache slices r=nical,kvark
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/scene_building.rs
  layout/reftests/async-scrolling/reftest.list
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Bug 1129227 - Part 1: Merge nsContentUtils::CheckRequestFullscreenAllowed into GetFullscreenError; r=smaug
  dom/base/Element.cpp
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1129227 - Part 2: Switch Fullscreen to use transient-user-activation API; r=smaug
  dom/base/Element.cpp
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/html/test/file_fullscreen-denied.html
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/feature-policy/reporting/fullscreen-report-only.html.ini
  testing/web-platform/meta/fullscreen/api/element-request-fullscreen.html.ini
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, yaml, file-whitespace, file-perm

Bug 1129227 - Part 3: Add test for requesting fullscreen in async callback; r=smaug
  dom/html/test/file_fullscreen-async.html
  dom/html/test/mochitest.ini
  dom/html/test/test_fullscreen-api.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Bug 1584052. Remove "module" as a reserved word in our Web IDL parser. r=edgar
  dom/bindings/parser/WebIDL.py
  dom/bindings/parser/tests/test_dictionary.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, test

Backed out changeset e10a3c249943 (bug 1575054) for crashtest failures at reftest/tests/layout/generic/crashtests/812893.html on a CLOSED TREE
  layout/generic/nsColumnSetFrame.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1570130 - Add Search to FxR Url Bar r=Gijs
  browser/fxr/content/fxrui.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1583290: update android emulator to 29.2.1 r=gbrown
  testing/mozharness/configs/android/androidx86_7_0.py
Due: mozharness/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozharness

Backed out changeset aa0e617660f2 (bug 1583424) for devtools failures at devtools/client/debugger/test/mochitest/browser_dbg-worker-kill.js on a CLOSED TREE
  devtools/client/debugger/src/components/PrimaryPanes/SourcesTree.js
  devtools/client/debugger/test/mochitest/browser.ini
  devtools/client/debugger/test/mochitest/browser_dbg-worker-kill.js
  devtools/client/debugger/test/mochitest/examples/doc-windowless-workers.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm, debugger-tests, devtools-tests

Backed out changeset f065877ca676 (bug 1441976) for wpt failures at battery-status/battery-interface-idlharness.https.window.html on a CLOSED TREE
  dom/battery/test/test_battery_unprivileged.html
  dom/tests/mochitest/general/test_interfaces.js
  dom/webidl/BatteryManager.webidl
Due: bugzilla-components, codespell, eslint, license, file-perm

[fenix] For https://github.com/mozilla-mobile/fenix/issues/2754 Add tab cards to share sheet (https://github.com/mozilla-mobile/fenix/pull/5493)
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ShareButtonTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/ShareCloseView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/ShareFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/listadapters/ShareTabsAdapter.kt
  mobile/android/fenix/app/src/main/res/drawable/bottom_sheet_dialog_fragment_background.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_share.xml
  mobile/android/fenix/app/src/main/res/layout/share_close.xml
  mobile/android/fenix/app/src/main/res/layout/share_tab_item.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/BookmarkControllerTest.kt
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1497007 - Remove obsolete test cases from test exclusion list. r=ttung,asuth
  testing/web-platform/meta/IndexedDB/idb-explicit-commit.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1578453 - Correctly calculate response size in IndexGetKeyRequestOp::GetResponse and ObjectStoreGetKeyRequestOp::GetResponse r=ttung,asuth
  dom/indexedDB/ActorsParent.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1582881 - Promote select fission tests to tier 1; r=ahal
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests, tryselect
