Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1589867 - Fix browser_parsable_css.js failure on beta. r=Honza.
  devtools/client/webconsole/components/App.css
Due: bugzilla-components, devtools-tests

Bug 1589867 - Fix browser_parsable_css.js failure on beta. r=Honza, a=pascalc
  devtools/client/webconsole/components/App.css
Due: bugzilla-components, devtools-tests

Bug 1576568 - Enable editor mode everywhere. r=Honza.
  browser/app/profile/firefox.js
  devtools/client/webconsole/components/App.js
  devtools/client/webconsole/components/Input/JSTerm.js
  devtools/client/webconsole/constants.js
  devtools/client/webconsole/reducers/prefs.js
  devtools/client/webconsole/store.js
  devtools/client/webconsole/test/browser/browser_jsterm_await_concurrent_same_result.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_disabled_history_nav_with_keyboard.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_enter.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_execute.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_execute_selection.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_gutter.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_onboarding.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_resize.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_reverse_search_button.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_toggle_keyboard_shortcut.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_toolbar.js
  devtools/client/webconsole/test/browser/browser_jsterm_no_input_and_tab_key_pressed.js
  devtools/client/webconsole/test/browser/browser_webconsole_telemetry_execute_js.js
  devtools/client/webconsole/test/node/mocha-test-setup.js
  devtools/client/webconsole/webconsole-wrapper.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1576568 - Enable editor mode everywhere. r=Honza. a=pascalc
  browser/app/profile/firefox.js
  devtools/client/webconsole/components/App.js
  devtools/client/webconsole/components/Input/JSTerm.js
  devtools/client/webconsole/constants.js
  devtools/client/webconsole/reducers/prefs.js
  devtools/client/webconsole/store.js
  devtools/client/webconsole/test/browser/browser_jsterm_await_concurrent_same_result.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_disabled_history_nav_with_keyboard.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_enter.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_execute.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_execute_selection.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_gutter.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_onboarding.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_resize.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_reverse_search_button.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_toggle_keyboard_shortcut.js
  devtools/client/webconsole/test/browser/browser_jsterm_editor_toolbar.js
  devtools/client/webconsole/test/browser/browser_jsterm_no_input_and_tab_key_pressed.js
  devtools/client/webconsole/test/browser/browser_webconsole_telemetry_execute_js.js
  devtools/client/webconsole/test/node/mocha-test-setup.js
  devtools/client/webconsole/webconsole-wrapper.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1584170: part 1) Factor out duplicated code to `IsInOlOrUl`. r=hsivonen
  dom/base/nsPlainTextSerializer.cpp
  dom/base/nsPlainTextSerializer.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1584170: part 1) Factor out duplicated code to `IsInOlOrUl`. r=hsivonen, a=pascalc
  dom/base/nsPlainTextSerializer.cpp
  dom/base/nsPlainTextSerializer.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1584170: part 2) Replace array with `AutoTArray`. r=hsivonen, a=pascalc
  dom/base/nsPlainTextSerializer.cpp
  dom/base/nsPlainTextSerializer.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1584170: part 2) Replace array with `AutoTArray`. r=hsivonen
  dom/base/nsPlainTextSerializer.cpp
  dom/base/nsPlainTextSerializer.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1589629 - Update multiple-redirect-https-downgrade-upgrade.tentative.sub.html expectancies. r=jgraham
  testing/web-platform/meta/fetch/metadata/redirect/multiple-redirect-https-downgrade-upgrade.tentative.sub.html.ini
Due: bugzilla-components, test-manifest

Bug 1585582 - Simplify exposure of AppCache interface for SecureContext r=baku
  dom/base/nsGlobalWindowInner.cpp
  dom/base/nsGlobalWindowInner.h
  dom/webidl/OfflineResourceList.webidl
  dom/webidl/Window.webidl
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1585582 - Remove all pref observers in CacheService r=mayhemer
  netwerk/cache/nsCacheService.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1582020 - Minimize time between adb.py's OKAY and exit. r=jdescottes, a=test-only
  devtools/shared/adb/test/adb.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, devtools-tests

Bug 1582020 - Minimize time between adb.py's OKAY and exit r=jdescottes
  devtools/shared/adb/test/adb.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, devtools-tests

No Bug, mozilla-release repo-update blocklist remote-settings - a=repo-update r=RyanVM
  browser/app/blocklist.xml
  services/settings/dumps/blocklists/addons.json
Due: bugzilla-components, codespell, eslint, license, file-perm
