Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 2
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: b-linux
  worker:
    docker-image:
      in-tree: android-build
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozbase/opt:
  description: testing/mozbase unit tests
  platforms:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/b2gtest
  worker:
    by-platform:
      linux64.*:
        implementation: docker-worker
        docker-image:
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: cpp(clang-tidy)
  run:
    cwd: '{checkout}'
    command: source taskcluster/scripts/misc/source-test-clang-setup.sh && ./mach --log-no-times static-analysis check --outgoing --output $HOME/clang-tidy.json --format json
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
  ...

coverity:
  description: Run static-analysis (Coverity) on C/C++ patches
  treeherder:
    symbol: coverity(cvsa)
  run:
    cwd: '{checkout}'
    command: source taskcluster/scripts/misc/source-test-clang-setup.sh && ./mach --log-no-times static-analysis check-coverity --outgoing --output $HOME/coverity.json
  scopes:
  ...

infer:
  description: Run static-analysis (infer) on Java patches
  treeherder:
    symbol: infer
  run:
  ...

Bug 1592958 - Ensure new WebAssembly blocks have slots enough for predecessor results r=jandem
  js/src/jit/MIRGraph.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1592537 - Give GCParallelTask a new 'running' state and refactor r=jandem
  js/src/gc/Allocator.cpp
  js/src/gc/GC.cpp
  js/src/gc/GCParallelTask.h
  js/src/gc/GCRuntime.h
  js/src/vm/HelperThreads.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1592537 - When waiting for a GC task, run it on the main thread if has not yet been picked up by a helper thread r=jandem
  js/src/gc/GC.cpp
  js/src/gc/GCParallelTask.h
  js/src/gc/GCRuntime.h
  js/src/vm/HelperThreads.cpp
  js/src/vm/HelperThreads.h
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1587098 - Add a shell option to enable support for weak references, off by default r=sfink
  js/public/RealmOptions.h
  js/src/fuzz-tests/tests.cpp
  js/src/jsapi-tests/tests.cpp
  js/src/shell/js.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1587096 - Part 1: Add JS FinalizationGroupObject and related data structures r=sfink
  js/public/GCVector.h
  js/public/ProtoKey.h
  js/src/builtin/FinalizationGroupObject.cpp
  js/src/builtin/FinalizationGroupObject.h
  js/src/gc/Barrier.h
  js/src/gc/GCEnum.h
  js/src/gc/Zone.cpp
  js/src/gc/Zone.h
  js/src/jit-test/tests/gc/finalizationGroup.js
  js/src/jit-test/tests/gc/weakRefs-disabled.js
  js/src/moz.build
  js/src/vm/GlobalObject.cpp
  js/src/vm/GlobalObject.h
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1587096 - Part 2: Add an API to set the HostCleanupFinalizationGroup callback r=sfink
  js/public/GCAPI.h
  js/src/gc/GC.cpp
  js/src/gc/GCRuntime.h
  js/src/jsapi.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1587096 - Part 3: Implmement FinalizationGroup r=sfink
  js/public/Class.h
  js/src/builtin/FinalizationGroupObject.cpp
  js/src/builtin/FinalizationGroupObject.h
  js/src/gc/FinalizationGroup.cpp
  js/src/gc/GC.cpp
  js/src/gc/GCRuntime.h
  js/src/gc/GenerateStatsPhases.py
  js/src/gc/RootMarking.cpp
  js/src/gc/WeakMap.cpp
  js/src/gc/WeakMap.h
  js/src/gc/Zone.cpp
  js/src/gc/Zone.h
  js/src/gc/moz.build
  js/src/js.msg
  js/src/jsapi.cpp
  js/src/jsapi.h
  js/src/vm/CommonPropertyNames.h
  js/src/vm/GlobalObject.h
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1587096 - Part 4: Support FinlalizationGroups in the shell and add tests r=sfink
  js/src/jit-test/tests/gc/finalizationGroup.js
  js/src/shell/js.cpp
  js/src/shell/jsshell.h
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1592616 - Don't show breakage report link when we're not blocking anything. r=nhnt11
  browser/base/content/browser-siteProtections.js
  browser/base/content/test/trackingUI/browser_trackingUI_report_breakage.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1575785 - Show a confirmation hint when a user successfully submitted a breakage report. r=nhnt11
  browser/base/content/browser-siteProtections.js
  browser/locales/en-US/chrome/browser/browser.properties
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1592936 - Remove unncessary check that helper threads have been started in GCParallelTask::startWithLockHeld r=jandem
  js/src/gc/Allocator.cpp
  js/src/gc/GC.cpp
  js/src/gc/GCLock.h
  js/src/gc/GCParallelTask.h
  js/src/gc/GCRuntime.h
  js/src/vm/HelperThreads.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1573710 - Trigger composite after SetParent() r=Gankro
  gfx/layers/d3d11/MLGDeviceD3D11.cpp
  gfx/layers/ipc/CompositorBridgeParent.cpp
  gfx/layers/ipc/CompositorBridgeParent.h
  gfx/layers/mlgpu/LayerManagerMLGPU.cpp
  gfx/webrender_bindings/RenderCompositor.h
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.h
  gfx/webrender_bindings/RendererOGL.cpp
  widget/windows/CompositorWidgetChild.cpp
  widget/windows/CompositorWidgetChild.h
  widget/windows/CompositorWidgetParent.cpp
  widget/windows/CompositorWidgetParent.h
  widget/windows/PCompositorWidget.ipdl
  widget/windows/WinCompositorWidget.cpp
  widget/windows/WinCompositorWidget.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1573710 - Trigger composite after SetParent() r=Gankro a=pascalc
  gfx/layers/d3d11/MLGDeviceD3D11.cpp
  gfx/layers/ipc/CompositorBridgeParent.cpp
  gfx/layers/ipc/CompositorBridgeParent.h
  gfx/layers/mlgpu/LayerManagerMLGPU.cpp
  gfx/webrender_bindings/RenderCompositor.h
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.h
  gfx/webrender_bindings/RendererOGL.cpp
  widget/windows/CompositorWidgetChild.cpp
  widget/windows/CompositorWidgetChild.h
  widget/windows/CompositorWidgetParent.cpp
  widget/windows/CompositorWidgetParent.h
  widget/windows/PCompositorWidget.ipdl
  widget/windows/WinCompositorWidget.cpp
  widget/windows/WinCompositorWidget.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 84c97e387e08 (bug 1591638) for failing at track-element-src-change-error.html on a CLOSED TREE.
  testing/web-platform/meta/html/semantics/embedded-content/media-elements/track/track-element/track-element-src-change-error.html.ini
Due: bugzilla-components, test-manifest

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**
