Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 2
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: b-linux
  worker:
    docker-image:
      in-tree: android-build
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozbase/opt:
  description: testing/mozbase unit tests
  platforms:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/b2gtest
  worker:
    by-platform:
      linux64.*:
        implementation: docker-worker
        docker-image:
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: clang(tidy)
  run:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: clang(format)
  run:
  ...

coverity:
  description: Run static-analysis (Coverity) on C/C++ patches
  treeherder:
    symbol: coverity(cvsa)
  run:
    cwd: '{checkout}'
    command: source taskcluster/scripts/misc/source-test-clang-setup.sh && ./mach --log-no-times static-analysis check-coverity --outgoing --output $HOME/coverity.json
  scopes:
  ...

bugzilla-components:
  description: Generate metadata about source files and Bugzilla
  treeherder:
    symbol: Bugzilla
  index:
    product: source
    job-name: source-bugzilla-info
  run:
    mach: file-info bugzilla-automation /builds/worker/artifacts
  worker:
    max-run-time: 2700

Backed out 2 changesets (bug 1580469, bug 1581975) for devtools failure at browser/browser_aboutdebugging_serviceworker_timeout.js
  browser/components/customizableui/content/panelUI.inc.xul
  devtools/client/performance-new/browser.js
  devtools/client/performance-new/initializer.js
  devtools/client/performance-new/moz.build
  devtools/client/performance-new/popup/background.jsm
  devtools/client/performance-new/popup/initializer.js
  devtools/client/performance-new/popup/menu-button.jsm
  devtools/client/performance-new/store/actions.js
  devtools/client/performance-new/store/reducers.js
  devtools/client/performance-new/store/selectors.js
  devtools/client/performance-new/test/browser/.eslintrc.js
  devtools/client/performance-new/test/browser/browser.ini
  devtools/client/performance-new/test/browser/browser_popup-end-to-end-click.js
  devtools/client/performance-new/test/browser/fake-frontend.html
  devtools/client/performance-new/test/browser/head.js
  devtools/client/performance-new/test/chrome/head.js
  devtools/server/actors/perf.js
  devtools/server/performance-new/gecko-profiler-interface.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm, devtools-tests

Bug 1584690 - append nonexistent hash to `ContentBlockingLog`; r=Ehsan
  dom/base/ContentBlockingLog.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1583945 - Import the RDM browser stylesheet along with the devtools-browser stylesheet. r=bgrins
  devtools/client/responsive/manager.js
  devtools/client/responsive/moz.build
  devtools/client/responsive/responsive-browser.css
  devtools/client/responsive/ui.js
  devtools/client/themes/devtools-browser.css
  devtools/client/themes/splitters.css
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Backed out 6 changesets (bug 1456995) for devtools failure at browser/browser_aboutdebugging_serviceworker_timeout.js. On a CLOSED TREE
  dom/fetch/InternalRequest.cpp
  dom/fetch/InternalRequest.h
  dom/serviceworkers/ServiceWorkerManager.cpp
  dom/serviceworkers/ServiceWorkerManager.h
  dom/serviceworkers/test/browser_devtools_serviceworker_interception.js
  dom/serviceworkers/test/fetch.js
  modules/libpref/init/StaticPrefList.yaml
  testing/mochitest/runtests.py
  testing/web-platform/meta/content-security-policy/securitypolicyviolation/inside-service-worker.https.html.ini
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/firefox.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/firefox_android.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/wpttest.py
  testing/xpcshell/runxpcshelltests.py
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, file-whitespace, file-perm, mochitest-harness, upload

[focus] Switch default to GeckoView at app startup for all users
  mobile/android/focus-android/app/build.gradle
  mobile/android/focus-android/app/src/debug/java/org/mozilla/focus/web/Config.kt
  mobile/android/focus-android/app/src/focusRelease/java/org/mozilla/focus/web/Config.kt
  mobile/android/focus-android/app/src/klarRelease/java/org/mozilla/focus/web/Config.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/FocusApplication.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/UrlInputFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/settings/ExperimentsSettingsFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/utils/AppConstants.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/viewmodel/MainViewModel.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/web/WebViewProvider.kt
  mobile/android/focus-android/app/src/nightly/java/org/mozilla/focus/web/Config.kt
Due: android-geckoview-docs/opt, bugzilla-components

Bug 1585443 - Remove IsCanonicalizedIP assertion. r=Ehsan
  toolkit/components/url-classifier/LookupCache.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

[components] Auto-publication workflow support
  mobile/android/android-components/publish.gradle
  mobile/android/android-components/substitute-local-ac.gradle
Due: android-geckoview-docs/opt, bugzilla-components

[components] https://github.com/mozilla-mobile/fenix/issues/4233 - Add NFC tag support
  mobile/android/android-components/components/browser/engine-gecko-beta/docs/metrics.md
  mobile/android/android-components/components/feature/intent/src/main/java/mozilla/components/feature/intent/processing/TabIntentProcessor.kt
  mobile/android/android-components/components/feature/intent/src/test/java/mozilla/components/feature/intent/processing/TabIntentProcessorTest.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/android-components/samples/browser/src/main/AndroidManifest.xml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1586232 - Animate the megabar with transforms only r=mak
  browser/base/content/browser.css
  browser/base/content/browser.xhtml
  browser/components/search/test/browser/browser_searchbar_openpopup.js
  browser/themes/linux/browser.css
  browser/themes/osx/browser.css
  browser/themes/shared/urlbar-autocomplete.inc.css
  browser/themes/shared/urlbar-searchbar.inc.css
  browser/themes/windows/browser.css
  toolkit/components/extensions/test/browser/browser_ext_themes_toolbar_fields.js
  toolkit/components/extensions/test/browser/browser_ext_themes_toolbar_fields_focus.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1584695 - Place DataChannelConnection connection state behind an accessor - r=bwc
  netwerk/sctp/datachannel/DataChannel.cpp
  netwerk/sctp/datachannel/DataChannel.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1584751 - Only open DataChannelConnections that aren't already open; r=bwc
  netwerk/sctp/datachannel/DataChannel.cpp
  netwerk/sctp/datachannel/DataChannel.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

[components] Fix double-focus in browser menu
  mobile/android/android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/item/BrowserMenuItemToolbar.kt
  mobile/android/android-components/components/browser/menu/src/main/res/layout/mozac_browser_menu.xml
  mobile/android/android-components/components/browser/menu/src/main/res/layout/mozac_browser_menu_highlightable_item.xml
  mobile/android/android-components/components/browser/menu/src/main/res/layout/mozac_browser_menu_item_image_switch.xml
  mobile/android/android-components/components/browser/menu/src/main/res/layout/mozac_browser_menu_item_image_text.xml
  mobile/android/android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1585712 - Use AutoEnterOOMUnsafeRegion instead of MOZ_CRASH in ExecutableAllocator::reprotectPool. r=jonco
  js/src/jit/ExecutableAllocator.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Fennec l10n changesets r=release a=l10n-bump DONTBUILD
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD
  browser/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1585882 - Fix needs_frame() check to account for the case where an ancestor of us has been reconstructed regularly, not via lazy frame construction. r=heycam a=lizzard
  servo/ports/geckolib/glue.rs
  testing/web-platform/tests/css/cssom/getComputedStyle-animations-replaced-into-ib-split.html
  testing/web-platform/tests/css/cssom/getComputedStyle-layout-dependent-replaced-into-ib-split.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, rustfmt, file-whitespace, file-perm, upload

Bug 1585882 - Fix needs_frame() check to account for the case where an ancestor of us has been reconstructed regularly, not via lazy frame construction. r=heycam
  servo/ports/geckolib/glue.rs
  testing/web-platform/tests/css/cssom/getComputedStyle-animations-replaced-into-ib-split.html
  testing/web-platform/tests/css/cssom/getComputedStyle-layout-dependent-replaced-into-ib-split.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, rustfmt, file-whitespace, file-perm, upload

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**
