Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, windows

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: clang(tidy)
  run:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: clang(format)
  run:
  ...

Bug 1567739 - Stop using deprecated rust libc integer types in xpidl. r=froydnj
  xpcom/idl-parser/xpidl/xpidl.py
  xpcom/rust/xpcom/xpcom_macros/src/lib.rs
Due: bugzilla-components, py-compat, py-flake8

Bug 1565571 - Switch components to PureComponent r=Ola
  devtools/client/application/src/components/App.js
  devtools/client/application/src/components/Worker.js
  devtools/client/application/src/components/WorkerList.js
  devtools/client/application/src/components/WorkerListEmpty.js
Due: bugzilla-components, eslint

Bug 1407945: Add a test for the tooltip in RDM. r=pbro
  devtools/client/responsive.html/test/browser/browser.ini
  devtools/client/responsive.html/test/browser/browser_tooltip.js
Due: bugzilla-components, eslint, test-manifest

Bug 1567848 - make XRE_IsE10sParentProcess always tell the truth on fennec, r=snorp
  toolkit/xre/nsAppRunner.cpp
Due: tidy, format, coverity, bugzilla-components

Bug 1407945: Calculate screenX and screenY in case of HTML element. r=Gijs
  browser/base/content/browser.js
Due: bugzilla-components, eslint

Bug 1566984 - Support --no-install for Android mochitests r=gbrown,snorp
  testing/mochitest/mach_commands.py
  testing/mochitest/mochitest_options.py
Due: bugzilla-components, py-compat, py-flake8, mochitest-harness

Bug 1554326 - Always set toolkit.telemetry.eventping.enabled during unit tests; r=snorp
  testing/profiles/unittest-required/user.js
Due: bugzilla-components, eslint, mochitest-harness

Bug 1567968 - Fix build bustages on compare-mozconfigs.py. r=froydnj
  browser/config/mozconfigs/win64/beta
Due: bugzilla-components

Bug 1563324 - Bug 1563325 - Remove unnecessary LazyScript::function_ checks r=tcampbell
  js/src/gc/Marking.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components

Bug 1563324 - Remove use of FunctionBox::function() in ParseContext::init() r=jorendorff
  js/src/frontend/ParseContext.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components

Bug 1552316 - Correct merge resolution error r=tcampbell
  js/src/frontend/SharedContext.h
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components

Bug 1558756 - Adding jest tests for components, r=ladybenko,jdescottes
  devtools/client/application/test/components/__snapshots__/components_application_panel-App.test.js.snap
  devtools/client/application/test/components/__snapshots__/components_application_panel-WorkerList.test.js.snap
  devtools/client/application/test/components/__snapshots__/components_application_panel-WorkerListEmpty.test.js.snap
  devtools/client/application/test/components/components_application_panel-App.test.js
  devtools/client/application/test/components/components_application_panel-WorkerList.test.js
  devtools/client/application/test/components/components_application_panel-WorkerListEmpty.test.js
  devtools/client/application/test/components/dummy.test.js
  devtools/client/application/test/components/fixtures/data/constants.js
  devtools/client/application/test/components/fixtures/unicode-url.js
  devtools/client/application/test/components/helpers/helper-reducer.js
  devtools/client/application/test/components/helpers/helpers.js
  devtools/client/application/test/components/jest.config.js
  devtools/client/bin/devtools-node-test-runner.js
  taskcluster/ci/source-test/node.yml
Due: bugzilla-components, eslint, yaml

No bug - Tagging f8413df45c553f2a72eec17dbe1042ffe38ff5db with DEVEDITION_69_0b7_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/aboutdebugging-new/src/components/**, devtools/client/framework/components/**, devtools/client/webconsole/**, devtools/client/netmonitor/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
