Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, wgpu, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  wgpu: any of: gfx/wgpu/**
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1607074 - Fetch websocket address from cloud server address, r=jlast.
  devtools/server/actors/replay/connection-worker.js
Due: bugzilla-components, codespell, eslint, license, file-perm

[components] Import l10n.
  mobile/android/android-components/components/browser/engine-system/src/main/res/values-uk/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-uk/strings.xml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1604003: Part 2 - Convert RemoteController.js to a JSM. r=NeilDeakin
  toolkit/content/widgets/browser-custom-element.js
  toolkit/modules/RemoteController.jsm
  toolkit/modules/moz.build
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1604003: Part 2 - Convert RemoteController.js to a JSM. r=NeilDeakin a=RyanVM
  toolkit/content/widgets/browser-custom-element.js
  toolkit/modules/RemoteController.jsm
  toolkit/modules/moz.build
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1241518 - Part 1: Remove unused nsAutoPtr.h includes in xpcom/ r=kmag
  dom/base/IdentifierMapEntry.h
  dom/media/flac/FlacDemuxer.h
  dom/media/mp4/Index.h
  media/mtransport/nr_timer.cpp
  xpcom/base/OwningNonNull.h
  xpcom/base/nsErrorService.cpp
  xpcom/base/nsMemoryReporterManager.cpp
  xpcom/base/nsMessageLoop.cpp
  xpcom/build/FileLocation.h
  xpcom/build/perfprobe.cpp
  xpcom/build/perfprobe.h
  xpcom/components/nsCategoryCache.h
  xpcom/ds/nsAtomTable.cpp
  xpcom/ds/nsExpirationTracker.h
  xpcom/ds/nsHashKeys.h
  xpcom/ds/nsObserverList.cpp
  xpcom/ds/nsObserverService.cpp
  xpcom/ds/nsPersistentProperties.cpp
  xpcom/ds/nsRefPtrHashtable.h
  xpcom/ds/nsWindowsRegKey.cpp
  xpcom/io/SpecialSystemDirectory.cpp
  xpcom/io/nsAnonymousTemporaryFile.cpp
  xpcom/io/nsDirectoryService.cpp
  xpcom/io/nsLocalFileWin.cpp
  xpcom/io/nsStreamUtils.cpp
  xpcom/io/nsUnicharInputStream.cpp
  xpcom/reflect/xptcall/xptcprivate.h
  xpcom/tests/TestHarness.h
  xpcom/tests/gtest/TestCallTemplates.cpp
  xpcom/tests/gtest/TestExpirationTracker.cpp
  xpcom/tests/gtest/TestRacingServiceManager.cpp
  xpcom/tests/gtest/TestTArray2.cpp
  xpcom/threads/nsProcessCommon.cpp
  xpcom/threads/nsProxyRelease.h
  xpcom/threads/nsThreadManager.cpp
  xpcom/threads/nsThreadPool.cpp
  xpcom/threads/nsThreadUtils.h
  xpcom/threads/nsTimerImpl.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1241518 - Part 2: Use Maybe instead of nsAutoPtr in nsInputStreamTee r=kmag
  xpcom/io/nsInputStreamTee.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1241518 - Part 3: Switch various nsAutoPtr uses to UniquePtr in xpcom/ r=kmag
  xpcom/base/nsCycleCollector.cpp
  xpcom/build/MainThreadIOLogger.cpp
  xpcom/components/nsComponentManager.cpp
  xpcom/components/nsComponentManager.h
  xpcom/threads/BlockingResourceBase.cpp
  xpcom/threads/MozPromise.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1241518 - Part 4: Switch nsThread to use UniquePtr r=KrisWright,kmag
  xpcom/threads/nsThread.cpp
  xpcom/threads/nsThread.h
  xpcom/threads/nsThreadPool.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1606727 - Implement CSSStyleSheet Constructor r=emilio
  layout/style/Loader.cpp
  layout/style/StyleSheet.cpp
  layout/style/StyleSheet.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1585761 - Outline pane filter styled consistent with Event BP filter r=jlast
  devtools/client/debugger/src/components/PrimaryPanes/Outline.css
  devtools/client/debugger/src/components/PrimaryPanes/OutlineFilter.css
  devtools/client/debugger/src/components/PrimaryPanes/OutlineFilter.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Backed out 2 changesets (bug 1591748) for causing bustages in nsPermissionManager.cpp CLOSED TREE
  extensions/permissions/nsPermissionManager.cpp
  extensions/permissions/nsPermissionManager.h
  extensions/permissions/test/unit/test_permmanager_oa_strip.js
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1242912, batch insert tabs during a session restore instead of adding tabs individually. r=Gijs
  browser/base/content/tabbrowser.js
  browser/components/sessionstore/SessionStore.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1341507 - Refactor TrackSizingFunctions::mRepeatEndDelta to be a getter function rather than a variable. r=emilio
  layout/generic/nsGridContainerFrame.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset b5cd3d8e322f (bug 1585761) for causing debugger failures.
  devtools/client/debugger/src/components/PrimaryPanes/Outline.css
  devtools/client/debugger/src/components/PrimaryPanes/OutlineFilter.css
  devtools/client/debugger/src/components/PrimaryPanes/OutlineFilter.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests
