Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, windows

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: clang(tidy)
  run:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: clang(format)
  run:
  ...

Bug 1553873 - Add tests to ensure the Baidu search engine is sending the correct codes with the urls. r=daleharvey,a=test-only
  toolkit/components/search/tests/xpcshell/searchconfigs/head_searchconfig.js
  toolkit/components/search/tests/xpcshell/searchconfigs/test_baidu.js
Due: bugzilla-components, eslint

Bug 1555661 - Fix client code inclusion in Google urls. r=daleharvey
  CLOBBER
  browser/components/search/extensions/google/_locales/2018/messages.json
  browser/components/search/extensions/google/_locales/b-1-d/messages.json
  browser/components/search/extensions/google/_locales/b-1-e/messages.json
  browser/components/search/extensions/google/_locales/b-d/messages.json
  browser/components/search/extensions/google/_locales/b-e/messages.json
  browser/components/search/extensions/google/_locales/en/messages.json
  browser/components/search/extensions/google/manifest.json
  toolkit/components/search/tests/xpcshell/searchconfigs/head_searchconfig.js
Due: bugzilla-components, eslint

Backed out changeset 0d2958471c08 (bug 1555300) for spidermonkey bustages. CLOSED TREE
  .eslintignore
  build/pgo/index.html
Due: bugzilla-components, eslint

Bug 1547285 - Add the registerProvider function API. r=adw,mixedpuppy
  browser/components/extensions/ext-browser.json
  browser/components/extensions/jar.mn
  browser/components/extensions/parent/ext-urlbar.js
  browser/components/extensions/schemas/jar.mn
  browser/components/extensions/schemas/urlbar.json
  browser/components/extensions/test/xpcshell/test_ext_urlbar.js
  browser/components/extensions/test/xpcshell/xpcshell-common.ini
  browser/components/urlbar/UrlbarProvidersManager.jsm
  browser/components/urlbar/UrlbarUtils.jsm
  toolkit/components/extensions/Extension.jsm
  toolkit/components/extensions/test/xpcshell/test_ext_permissions.js
Due: bugzilla-components, eslint, test-manifest

Bug 1554377 - Cleanup nsCookie implementation - Get rid of ConstCookie, r=Ehsan
  netwerk/cookie/nsCookieService.cpp
  netwerk/cookie/nsCookieService.h
Due: tidy, format, coverity, bugzilla-components

Bug 1554377 - Cleanup nsCookie implementation - Get rid of nsCookieAttributes, r=Ehsan
  netwerk/cookie/CookieServiceChild.cpp
  netwerk/cookie/CookieServiceChild.h
  netwerk/cookie/nsCookieService.cpp
  netwerk/cookie/nsCookieService.h
Due: tidy, format, coverity, bugzilla-components

Bug 1554377 - Cleanup nsCookie implementation - simpler nsCookie, r=Ehsan
  netwerk/cookie/CookieServiceParent.cpp
  netwerk/cookie/nsCookie.cpp
  netwerk/cookie/nsCookie.h
  netwerk/ipc/NeckoChannelParams.ipdlh
Due: tidy, format, coverity, bugzilla-components

Bug 1554377 - Cleanup nsCookie implementation - network.cookie.thirdparty.sessionOnly to StaticPrefs, r=Ehsan
  modules/libpref/init/StaticPrefList.h
  modules/libpref/init/all.js
  netwerk/cookie/CookieServiceChild.cpp
  netwerk/cookie/CookieServiceChild.h
  netwerk/cookie/nsCookieService.cpp
  netwerk/cookie/nsCookieService.h
Due: tidy, format, coverity, bugzilla-components, eslint

Bug 1554377 - Cleanup nsCookie implementation - network_cookie_thirdparty_nonsecureSessionOnly to StaticPrefs, r=Ehsan
  modules/libpref/init/StaticPrefList.h
  modules/libpref/init/all.js
  netwerk/cookie/CookieServiceChild.cpp
  netwerk/cookie/CookieServiceChild.h
  netwerk/cookie/nsCookieService.cpp
  netwerk/cookie/nsCookieService.h
Due: tidy, format, coverity, bugzilla-components, eslint

Bug 1554377 - Cleanup nsCookie implementation - Removed mIPCOpen, r=Ehsan
  netwerk/cookie/CookieServiceChild.cpp
  netwerk/cookie/CookieServiceChild.h
Due: tidy, format, coverity, bugzilla-components

Bug 1528950 - Implement HTTP fuzzing target for Necko. r=dragana
  netwerk/protocol/http/moz.build
  netwerk/test/fuzz/TestHttpFuzzing.cpp
  netwerk/test/fuzz/moz.build
  netwerk/test/moz.build
Due: tidy, format, coverity, bugzilla-components

Bug 1436674 - nsICookieService.idl should use ACString XPIDL type in place of the string type, r=Ehsan
  dom/base/Document.cpp
  dom/base/nsContentSink.cpp
  netwerk/cookie/CookieServiceChild.cpp
  netwerk/cookie/CookieServiceChild.h
  netwerk/cookie/nsCookieService.cpp
  netwerk/cookie/nsCookieService.h
  netwerk/cookie/nsICookieService.idl
  netwerk/protocol/http/ClassifierDummyChannel.cpp
  netwerk/protocol/http/HttpBaseChannel.cpp
  netwerk/protocol/http/HttpBaseChannel.h
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsIHttpChannelInternal.idl
  netwerk/streamconv/converters/nsMultiMixedConv.cpp
  netwerk/test/TestCookie.cpp
  netwerk/test/unit/test_bug667818.js
  netwerk/test/unit/test_cookies_privatebrowsing.js
  netwerk/test/unit/test_cookies_profile_close.js
Due: tidy, format, coverity, bugzilla-components, eslint

Bug 1554289 - Add non-null checks around assignment referrerInfo to preflight HTTP channel r=valentin
  netwerk/protocol/http/nsCORSListenerProxy.cpp
Due: tidy, format, coverity, bugzilla-components

Bug 1554289 - Add non-null checks around assignment referrerInfo to preflight HTTP channel r=valentin a=jcristau
  netwerk/protocol/http/nsCORSListenerProxy.cpp
Due: tidy, format, coverity, bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/aboutdebugging-new/src/components/**, devtools/client/framework/components/**, devtools/client/webconsole/**, devtools/client/netmonitor/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
