Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 2
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: b-linux
  worker:
    docker-image:
      in-tree: android-build
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozbase/opt:
  description: testing/mozbase unit tests
  platforms:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/b2gtest
  worker:
    by-platform:
      linux64.*:
        implementation: docker-worker
        docker-image:
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: cpp(clang-tidy)
  run:
    cwd: '{checkout}'
    command: source taskcluster/scripts/misc/source-test-clang-setup.sh && ./mach --log-no-times static-analysis check --outgoing --output $HOME/clang-tidy.json --format json
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
  ...

coverity:
  description: Run static-analysis (Coverity) on C/C++ patches
  treeherder:
    symbol: coverity(cvsa)
  run:
    cwd: '{checkout}'
    command: source taskcluster/scripts/misc/source-test-clang-setup.sh && ./mach --log-no-times static-analysis check-coverity --outgoing --output $HOME/coverity.json
  scopes:
  ...

infer:
  description: Run static-analysis (infer) on Java patches
  treeherder:
    symbol: infer
  run:
  ...

Bug 1573753 - Copy the urlbar value when pageproxystate is invalid and there's no result. r=adw
  browser/components/urlbar/UrlbarInput.jsm
  browser/components/urlbar/tests/browser/browser.ini
  browser/components/urlbar/tests/browser/browser_urlbar_copy_during_load.js
  browser/components/urlbar/tests/browser/slow-page.sjs
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Bug 1592120: Add flag to Authenticode::GetBinaryOrgName to skip trust verification and use it in untrusted modules processing; r=mhowell
  mozglue/dllservices/Authenticode.cpp
  mozglue/dllservices/Authenticode.h
  mozglue/dllservices/WindowsDllServices.h
  toolkit/xre/UntrustedModulesData.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1591761 - parseXULToFragment should throw a clearer exception for non-well-formed markup. r=bgrins
  toolkit/content/customElements.js
  toolkit/content/tests/chrome/test_custom_element_base.xul
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1590890 - Disable bindgen when building coreaudio-sys. r=glandium
  media/libcubeb/cubeb-coreaudio-rs/coreaudio-sys-utils/Cargo.toml
Due: bugzilla-components

Bug 1585184 - Migrate users from custom to standard if their settings exactly match r=johannh
  browser/components/BrowserGlue.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1590811 - Better align the breakpoint icon and change hover effects.
  devtools/client/debugger/bin/module-manifest.json
  devtools/client/debugger/packages/devtools-reps/src/object-inspector/components/ObjectInspector.css
  devtools/client/shared/components/reps/reps.css
Due: bugzilla-components, debugger-tests, devtools-tests

Backed out changeset ce39fc80bb5b (bug 1591209) due to perf/memory regressions at tcampbell request.
  js/src/frontend/FunctionEmitter.cpp
  js/src/frontend/ParseContext.cpp
  js/src/frontend/Parser.cpp
  js/src/frontend/SharedContext.cpp
  js/src/jit/MIR.h
  js/src/jit/OptimizationTracking.cpp
  js/src/vm/JSFunction-inl.h
  js/src/vm/JSFunction.cpp
  js/src/vm/JSFunction.h
  js/src/vm/JSScript.h
  js/src/vm/ObjectGroup.cpp
  js/src/vm/Xdr.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 8799781bbf34 (bug 1591761) for causing mass test failures. on a CLOSED TREE
  toolkit/content/customElements.js
  toolkit/content/tests/chrome/test_custom_element_base.xul
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1214364 part 3. Only output ToObjectInternal methods for dictionaries that need it. r=peterv
  dom/bindings/Codegen.py
  dom/bindings/Configuration.py
  dom/bindings/mozwebidlcodegen/__init__.py
  dom/bindings/mozwebidlcodegen/test/test_mozwebidlcodegen.py
  dom/bindings/parser/WebIDL.py
  dom/chrome-webidl/IteratorResult.webidl
  dom/chrome-webidl/Localization.webidl
  dom/chrome-webidl/SessionStoreUtils.webidl
  dom/webidl/APZTestData.webidl
  dom/webidl/AudioWorkletNode.webidl
  dom/webidl/BaseKeyframeTypes.webidl
  dom/webidl/BasicCardPayment.webidl
  dom/webidl/BrowserElementDictionaries.webidl
  dom/webidl/Console.webidl
  dom/webidl/IntlUtils.webidl
  dom/webidl/IterableIterator.webidl
  dom/webidl/KeyAlgorithm.webidl
  dom/webidl/MediaSession.webidl
  dom/webidl/NetDashboard.webidl
  dom/webidl/ProfileTimelineMarker.webidl
  dom/webidl/SubtleCrypto.webidl
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, test

Bug 1590984 - Use poll() instead of select() in WebRTC code r=drno
  media/webrtc/trunk/webrtc/modules/video_capture/linux/device_info_linux.cc
  media/webrtc/trunk/webrtc/modules/video_capture/linux/video_capture_linux.cc
Due: tidy, format, coverity, bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1591132 - Make hashtable checker use MOZ_RELEASE_ASSERT. r=froydnj
  xpcom/ds/PLDHashTable.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1591132 - Remove some useless ifdefs. r=froydnj
  xpcom/ds/PLDHashTable.cpp
  xpcom/ds/PLDHashTable.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1591132 - Make it easy to switch on and off these assertions in different build configurations. r=froydnj
  dom/indexedDB/ActorsParent.cpp
  toolkit/components/telemetry/core/TelemetryOrigin.cpp
  xpcom/ds/PLDHashTable.cpp
  xpcom/ds/PLDHashTable.h
  xpcom/ds/nsBaseHashtable.h
  xpcom/ds/nsStaticNameTable.cpp
  xpcom/ds/nsTHashtable.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**
