Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

no bug - Bumping Fennec l10n changesets r=release a=l10n-bump DONTBUILD
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD
  browser/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1583432 - Set IDCompositionVisual interporation mode to Linear r=nical
  gfx/webrender_bindings/DCLayerTree.cpp
  gfx/webrender_bindings/DCLayerTree.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1584560 - On default settings use the actual device channel count. r=padenot
  dom/media/webrtc/MediaEngineWebRTCAudio.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

[components] Import strings from android-l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-fr/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-pl/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-fi/strings.xml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1584785 - Fix issues found via PVS-studio static analyzer
  netwerk/base/nsSocketTransport2.cpp
  netwerk/sctp/datachannel/DataChannel.cpp
  netwerk/streamconv/converters/ParseFTPList.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1581559 - Refresh script MIME type telemtry. r=ckerschb
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components

Bug 1510622 - Initilize OpenVR controller haptic thread when the first time to do vibration. a=lizzard
  gfx/vr/service/OpenVRSession.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1581579 - Fix scrollbar style caching conflict for <resizer dir="bottom"> vs <resizer dir="bottomleft">. r=emilio
  layout/generic/AnonymousContentKey.h
  layout/generic/nsGfxScrollFrame.cpp
  layout/style/crashtests/1581579.html
  layout/style/crashtests/crashtests.list
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 43ac974f69db (bug 1582645) for increasing the crash volume a=backout
  gfx/layers/wr/WebRenderCommandBuilder.cpp
  layout/svg/crashtests/crashtests.list
  layout/svg/crashtests/invalidation-of-opacity-0.html
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1583444 - Stop using window.top in WebConsole codebase r=nchevobbe
  devtools/client/webconsole/webconsole-ui.js
  devtools/client/webconsole/webconsole.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1583444 - Stop using win.top in devtools/shared/layout/utils.js r=pbro
  devtools/shared/layout/utils.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1583444 - Stop using win.top in DevTools tests r=nchevobbe
  devtools/client/framework/test/browser_toolbox_custom_host.js
  devtools/client/framework/test/browser_toolbox_toolbar_reorder_with_secondary_toolbox.js
  devtools/client/shared/test/browser_html_tooltip_xul-wrapper.js
  devtools/client/shared/test/browser_inplace-editor_autoclose_parentheses.js
  devtools/client/shared/test/browser_inplace-editor_autocomplete_01.js
  devtools/client/shared/test/browser_inplace-editor_autocomplete_css_variable.js
  devtools/client/webconsole/test/browser/browser_console_cpow.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1583444 - Reuse DevToolsUtils.getTopWindow in HTMLTooltip r=yzen
  devtools/client/accessibility/test/jest/fixtures/devtools-utils.js
  devtools/client/accessibility/test/jest/jest.config.js
  devtools/client/shared/widgets/tooltip/HTMLTooltip.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests
