Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, wgpu, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  wgpu: any of: gfx/wgpu/**
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1604464 - Add some WPT reftests for rendering of text-decoration across descendants of the decorating box. r=heycam
  testing/web-platform/meta/css/css-text-decor/text-decoration-subelements-002.html.ini
  testing/web-platform/tests/css/css-text-decor/reference/text-decoration-subelements-001-notref.html
  testing/web-platform/tests/css/css-text-decor/reference/text-decoration-subelements-002-ref.html
  testing/web-platform/tests/css/css-text-decor/reference/text-decoration-subelements-003-ref.html
  testing/web-platform/tests/css/css-text-decor/text-decoration-subelements-001.html
  testing/web-platform/tests/css/css-text-decor/text-decoration-subelements-002.html
  testing/web-platform/tests/css/css-text-decor/text-decoration-subelements-003.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm, upload

no bug - follow up of Bug 1606026 - Add docs/ to the list of dirs r=glasserc
  docs/contributing/directory_structure.rst
Due: bugzilla-components, codespell, rst

[components] Update Public Suffix List (20200107-141143)
  mobile/android/android-components/components/lib/publicsuffixlist/src/main/assets/publicsuffixes
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD
  browser/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1531475: Drop the greomni and appomni command line arguments. r=froydnj
  ipc/glue/GeckoChildProcessHost.cpp
  toolkit/xre/nsAppRunner.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 61101e3eebb3 (bug 1030481) for mochitest failures at test_file.xhtml. CLOSED TREE
  dom/base/StructuredCloneHolder.cpp
  dom/file/BaseBlobImpl.cpp
  dom/file/BaseBlobImpl.h
  dom/file/Blob.cpp
  dom/file/Blob.h
  dom/file/BlobImpl.h
  dom/file/EmptyBlobImpl.cpp
  dom/file/EmptyBlobImpl.h
  dom/file/FileBlobImpl.cpp
  dom/file/FileBlobImpl.h
  dom/file/MemoryBlobImpl.h
  dom/file/MultipartBlobImpl.cpp
  dom/file/MultipartBlobImpl.h
  dom/file/StreamBlobImpl.cpp
  dom/indexedDB/FileSnapshot.h
  dom/url/URLWorker.cpp
  dom/xhr/XMLHttpRequestWorker.cpp
  xpcom/base/moz.build
  xpcom/base/nsIMutable.idl
  xpcom/build/XPCOM.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset ea16475d26ba (bug 1605854) for mochitest failures at test_fetch_cors_sw_reroute.html. CLOSED TREE
  dom/security/test/cors/file_CrossSiteXHR_cache_server.sjs
  dom/security/test/cors/file_CrossSiteXHR_inner.html
  dom/security/test/cors/file_CrossSiteXHR_inner_data.sjs
  dom/security/test/cors/file_CrossSiteXHR_server.sjs
  dom/security/test/cors/file_bug1456721.html
  dom/security/test/cors/file_cors_logging_test.html
  dom/security/test/cors/test_CrossSiteXHR.html
  dom/security/test/cors/test_CrossSiteXHR_cache.html
  dom/security/test/cors/test_CrossSiteXHR_origin.html
  dom/tests/mochitest/fetch/test_fetch_cors.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1591564 - Assemble a 'prototype' ping every hour. r=janerik
  toolkit/components/telemetry/fog/src/lib.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1605633 - Check if it's a dead wrapper in WeakRef constructor. r=jonco
  js/src/builtin/WeakRefObject.cpp
  js/src/jit-test/tests/gc/bug-1605633.js
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1607447 - Run only one rusttests configuration on autoland, all configurations on mozilla-central and try. r=jmaher
  taskcluster/ci/build/linux.yml
  taskcluster/ci/build/windows.yml
Due: bugzilla-components, yaml

Bug 1030481 - Remove nsIMutable, r=smaug
  dom/base/StructuredCloneHolder.cpp
  dom/file/BaseBlobImpl.cpp
  dom/file/BaseBlobImpl.h
  dom/file/Blob.cpp
  dom/file/Blob.h
  dom/file/BlobImpl.h
  dom/file/EmptyBlobImpl.cpp
  dom/file/EmptyBlobImpl.h
  dom/file/FileBlobImpl.cpp
  dom/file/FileBlobImpl.h
  dom/file/MemoryBlobImpl.h
  dom/file/MultipartBlobImpl.cpp
  dom/file/MultipartBlobImpl.h
  dom/file/StreamBlobImpl.cpp
  dom/indexedDB/FileSnapshot.h
  dom/url/URLWorker.cpp
  dom/xhr/XMLHttpRequestWorker.cpp
  xpcom/base/moz.build
  xpcom/base/nsIMutable.idl
  xpcom/build/XPCOM.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1432897 - Add count for number of policies to telemetry. r=mconley a=RyanVM
  toolkit/components/enterprisepolicies/EnterprisePolicies.js
  toolkit/components/telemetry/Scalars.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1432897 - Add count for number of policies to telemetry. r=mconley
  toolkit/components/enterprisepolicies/EnterprisePolicies.js
  toolkit/components/telemetry/Scalars.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1600906 - Encapsulate ThreadInfo; use std::move instead of swap, use const where then possible. r=dom-workers-and-storage-reviewers,ytausky
  dom/indexedDB/ActorsParent.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
