Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, windows

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/aboutdebugging-new/src/components/**, devtools/client/framework/components/**, devtools/client/webconsole/**, devtools/client/netmonitor/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh

Bug 1563790 - Part 2: Lower No Progress Timeout when UI is displayed r=bytesized,rstrong a=RyanVM
  toolkit/components/bitsdownload/Bits.jsm
  toolkit/components/bitsdownload/nsIBits.idl
  toolkit/components/bitsdownload/src/bits_interface/action.rs
  toolkit/components/bitsdownload/src/bits_interface/error.rs
  toolkit/components/bitsdownload/src/bits_interface/request.rs
  toolkit/components/bitsdownload/src/bits_interface/task/mod.rs
  toolkit/components/bitsdownload/src/bits_interface/task/request_task.rs
  toolkit/mozapps/update/UpdateService.jsm
Due: bugzilla-components, eslint

Bug 1563790 - Part 2: Lower No Progress Timeout when UI is displayed r=bytesized,rstrong
  toolkit/components/bitsdownload/Bits.jsm
  toolkit/components/bitsdownload/nsIBits.idl
  toolkit/components/bitsdownload/src/bits_interface/action.rs
  toolkit/components/bitsdownload/src/bits_interface/error.rs
  toolkit/components/bitsdownload/src/bits_interface/request.rs
  toolkit/components/bitsdownload/src/bits_interface/task/mod.rs
  toolkit/components/bitsdownload/src/bits_interface/task/request_task.rs
  toolkit/mozapps/update/UpdateService.jsm
Due: bugzilla-components, eslint

Bug 1563790 - Part 1: Expose and require No Progress Timeout r=bytesized,rstrong
  Cargo.lock
  toolkit/components/bitsdownload/Bits.jsm
  toolkit/components/bitsdownload/bits_client/Cargo.toml
  toolkit/components/bitsdownload/bits_client/bits/Cargo.toml
  toolkit/components/bitsdownload/bits_client/bits/src/lib.rs
  toolkit/components/bitsdownload/bits_client/examples/test_client.rs
  toolkit/components/bitsdownload/bits_client/src/bits_protocol.rs
  toolkit/components/bitsdownload/bits_client/src/in_process/mod.rs
  toolkit/components/bitsdownload/bits_client/src/in_process/tests.rs
  toolkit/components/bitsdownload/bits_client/src/lib.rs
  toolkit/components/bitsdownload/nsIBits.idl
  toolkit/components/bitsdownload/src/bits_interface/mod.rs
  toolkit/components/bitsdownload/src/bits_interface/task/service_task.rs
  toolkit/mozapps/update/UpdateService.jsm
Due: bugzilla-components, eslint

Bug 1563790 - Part 1: Expose and require No Progress Timeout r=bytesized,rstrong a=RyanVM
  Cargo.lock
  toolkit/components/bitsdownload/Bits.jsm
  toolkit/components/bitsdownload/bits_client/Cargo.toml
  toolkit/components/bitsdownload/bits_client/bits/Cargo.toml
  toolkit/components/bitsdownload/bits_client/bits/src/lib.rs
  toolkit/components/bitsdownload/bits_client/examples/test_client.rs
  toolkit/components/bitsdownload/bits_client/src/bits_protocol.rs
  toolkit/components/bitsdownload/bits_client/src/in_process/mod.rs
  toolkit/components/bitsdownload/bits_client/src/in_process/tests.rs
  toolkit/components/bitsdownload/bits_client/src/lib.rs
  toolkit/components/bitsdownload/nsIBits.idl
  toolkit/components/bitsdownload/src/bits_interface/mod.rs
  toolkit/components/bitsdownload/src/bits_interface/task/service_task.rs
  toolkit/mozapps/update/UpdateService.jsm
Due: bugzilla-components, eslint

Bug 1544175 - Prevent devtools from accessing CPOWs. r?nchevobbe
  devtools/client/webconsole/test/mochitest/browser.ini
  devtools/client/webconsole/test/mochitest/browser_console.js
  devtools/client/webconsole/test/mochitest/browser_console_cpow.js
  devtools/server/actors/object.js
  devtools/shared/DevToolsUtils.js
Due: bugzilla-components, eslint, test-manifest, devtools-tests

Bug 1544175 - Prevent devtools from accessing CPOWs. r=nchevobbe a=pascalc
  devtools/client/webconsole/test/mochitest/browser.ini
  devtools/client/webconsole/test/mochitest/browser_console.js
  devtools/client/webconsole/test/mochitest/browser_console_cpow.js
  devtools/server/actors/object.js
  devtools/shared/DevToolsUtils.js
Due: bugzilla-components, eslint, test-manifest, devtools-tests

Bug 1570084 - Convert accessibility.AOM.enabled varcache pref to static pref. r=njn
  accessible/aom/AccessibleNode.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: tidy, format, coverity, bugzilla-components, yaml

[fenix] Update fenix for new megazord setup
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/buildSrc/src/main/java/Dependencies.kt
  mobile/android/fenix/settings.gradle
Due: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

[fenix] Bump A-C version
  mobile/android/fenix/buildSrc/src/main/java/Dependencies.kt
Due: bugzilla-components

[fenix] Closes https://github.com/mozilla-mobile/fenix/issues/4462 - Adjust layout params of select bookmark folder view
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/selectfolder/SelectBookmarkFolderAdapter.kt
Due: bugzilla-components

Bug 1567954 - Part 1: Initialize Mozpower module and implement PowerBase class. r=perftest-reviewers,ahal,rwood
  testing/config/mozbase_requirements.txt
  testing/config/mozbase_source_requirements.txt
  testing/mozbase/moz.build
  testing/mozbase/mozpower/mozpower/__init__.py
  testing/mozbase/mozpower/mozpower/mozpowerutils.py
  testing/mozbase/mozpower/mozpower/powerbase.py
  testing/mozbase/mozpower/setup.cfg
  testing/mozbase/mozpower/setup.py
  testing/mozbase/mozpower/tests/conftest.py
  testing/mozbase/mozpower/tests/manifest.ini
  testing/mozbase/mozpower/tests/test_powerbase.py
  testing/mozbase/packages.txt
  testing/tools/mach_test_package_bootstrap.py
Due: mozbase/opt, bugzilla-components, py-compat, py-flake8, test-manifest, marionette-harness, mozbase

Bug 1567954 - Part 3: Implement MacIntelPower class in the Mozpower module. r=perftest-reviewers,rwood,alexandru.irimovici
  testing/mozbase/mozpower/mozpower/macintelpower.py
  testing/mozbase/mozpower/tests/conftest.py
  testing/mozbase/mozpower/tests/manifest.ini
  testing/mozbase/mozpower/tests/test_macintelpower.py
Due: mozbase/opt, bugzilla-components, py-compat, py-flake8, test-manifest, mozbase

Bug 1569917 - Change the string on the doorhanger when adding a username to a login. r=sfoster
  toolkit/components/passwordmgr/LoginManagerPrompter.jsm
  toolkit/components/passwordmgr/test/browser/browser_capture_doorhanger.js
  toolkit/locales/en-US/chrome/passwordmgr/passwordmgr.properties
Due: bugzilla-components, eslint

Bug 1567623 - Change doContentSecurityCheck logging from Debug to Verbose r=ckerschb
  dom/security/nsContentSecurityManager.cpp
Due: tidy, format, coverity, bugzilla-components

Bug 1567623 - Rename whitelist to allowlist r=ckerschb
  dom/security/nsContentSecurityManager.cpp
Due: tidy, format, coverity, bugzilla-components

Bug 1567623 - Update AssertEvalNotUsingSystemPrincipal and re-enable it r=ckerschb
  browser/app/profile/firefox.js
  caps/nsScriptSecurityManager.cpp
  dom/security/CSPEvalChecker.cpp
  dom/security/nsContentSecurityManager.cpp
  dom/security/nsContentSecurityManager.h
  modules/libpref/init/StaticPrefList.yaml
Due: tidy, format, coverity, bugzilla-components, eslint, yaml

Bug 1567623 - Add Event Telemetry for cases where eval is triggered as System Principal r=chutten,bzbarsky,tcampbell
  dom/security/nsContentSecurityManager.cpp
  dom/security/nsContentSecurityManager.h
  dom/security/test/gtest/TestFilenameEvalParser.cpp
  dom/security/test/gtest/moz.build
  js/public/RegExp.h
  js/src/vm/RegExpObject.cpp
  toolkit/components/telemetry/Events.yaml
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, yaml
