Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 2
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: b-linux
  worker:
    docker-image:
      in-tree: android-build
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozbase/opt:
  description: testing/mozbase unit tests
  platforms:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/b2gtest
  worker:
    by-platform:
      linux64.*:
        implementation: docker-worker
        docker-image:
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: cpp(clang-tidy)
  run:
    cwd: '{checkout}'
    command: source taskcluster/scripts/misc/source-test-clang-setup.sh && ./mach --log-no-times static-analysis check --outgoing --output $HOME/clang-tidy.json --format json
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: cpp(clang-format)
  run:
    cwd: '{checkout}'
  ...

coverity:
  description: Run static-analysis (Coverity) on C/C++ patches
  treeherder:
    symbol: coverity(cvsa)
  run:
    cwd: '{checkout}'
    command: source taskcluster/scripts/misc/source-test-clang-setup.sh && ./mach --log-no-times static-analysis check-coverity --outgoing --output $HOME/coverity.json
  scopes:
  ...

infer:
  description: Run static-analysis (infer) on Java patches
  treeherder:
    symbol: infer
  run:
  ...

[components] Add externalAppType field
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/CustomTabConfig.kt
  mobile/android/android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabConfigHelper.kt
  mobile/android/android-components/components/feature/pwa/src/main/java/mozilla/components/feature/pwa/ext/WebAppManifest.kt
  mobile/android/android-components/components/feature/pwa/src/main/java/mozilla/components/feature/pwa/intent/TrustedWebActivityIntentProcessor.kt
  mobile/android/android-components/components/feature/pwa/src/test/java/mozilla/components/feature/pwa/intent/TrustedWebActivityIntentProcessorTest.kt
  mobile/android/android-components/components/feature/pwa/src/test/java/mozilla/components/feature/pwa/intent/WebAppIntentProcessorTest.kt
  mobile/android/android-components/docs/changelog.md
Due: bugzilla-components

Bug 1582234 - Change the meaning of browser.urlbar.suggest.bookmark = false so that visited bookmarks are autofilled but unvisited bookmarks still are not. r=mak a=pascalc
  toolkit/components/places/UnifiedComplete.jsm
  toolkit/components/places/tests/unifiedcomplete/autofill_tasks.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1582234 - Change the meaning of browser.urlbar.suggest.bookmark = false so that visited bookmarks are autofilled but unvisited bookmarks still are not. r=mak
  toolkit/components/places/UnifiedComplete.jsm
  toolkit/components/places/tests/unifiedcomplete/autofill_tasks.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1589754 - Fix permissions.query in top-level document r=tnguyen
  dom/notification/test/mochitest/mochitest.ini
  dom/notification/test/mochitest/test_notification_permissions.html
  extensions/permissions/PermissionDelegateHandler.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1586450: Trace Debugger.Frames with hooks for live frames directly. r=jonco
  js/src/debugger/DebugAPI.h
  js/src/debugger/Debugger.cpp
  js/src/gc/RootMarking.cpp
  js/src/jit-test/tests/debug/gc-10.js
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1586450: Split out DebuggerFrame::isLiveMaybeForwarded. r=jonco
  js/src/debugger/Debugger.cpp
  js/src/debugger/Frame.cpp
  js/src/debugger/Frame.h
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1588741 - Descriptors.getTarget may return unattached targets when called in parallel. r=jdescottes
  devtools/client/framework/test/browser_target_parents.js
  devtools/shared/fronts/descriptors/frame.js
  devtools/shared/fronts/descriptors/process.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1589938, convert FormHistory modules into JSWindowActors, allowing the test test_form_submission.html to work with fission enabled, r=MattN
  toolkit/components/satchel/FormAutoComplete.jsm
  toolkit/components/satchel/FormHistoryChild.jsm
  toolkit/components/satchel/FormHistoryParent.jsm
  toolkit/components/satchel/FormHistoryStartup.jsm
  toolkit/components/satchel/moz.build
  toolkit/components/satchel/test/mochitest.ini
  toolkit/components/satchel/test/subtst_form_submission_1.html
  toolkit/components/satchel/test/test_form_submission.html
  toolkit/modules/ActorManagerParent.jsm
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Bug 1571599 - Enable layout.viewport_contains_no_contents_area on all channels. r=botond
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, yaml

Bug 1590749 - Make the update interval for the milestone doorhanger configurable. r=ewright
  toolkit/components/antitracking/TrackingDBService.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1590749 - Make the update interval for the milestone doorhanger configurable. r=ewright a=pascalc
  toolkit/components/antitracking/TrackingDBService.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

[fenix] For https://github.com/mozilla-mobile/fenix/issues/3676: fix duplicate uri events on first load (https://github.com/mozilla-mobile/fenix/pull/6128)
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/UriOpenedObserver.kt
Due: bugzilla-components

Bug 1590673 - Avoid assertion when assigning Maybe<Policy> r=JuniorHsu
  netwerk/protocol/http/nsHttpChannel.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1583970 - Cast sizeof to ptrdiff_t to avoid `-16 / 4 = big`. r=tsmith
  dom/canvas/WebGLTexelConversions.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1583970 - Cast sizeof to ptrdiff_t to avoid `-16 / 4 = big`. r=tsmith a=pascalc
  dom/canvas/WebGLTexelConversions.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**
