Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, windows

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/aboutdebugging-new/src/components/**, devtools/client/framework/components/**, devtools/client/webconsole/**, devtools/client/netmonitor/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh

No Bug, mozilla-beta repo-update HSTS HPKP blocklist remote-settings - a=repo-update, r=RyanVM
  browser/app/blocklist.xml
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/blocklists/addons.json
  services/settings/dumps/blocklists/plugins.json
Due: tidy, format, coverity, bugzilla-components, eslint

Bug 1559927 Re-record tumblr.com desktop tp6 pages using mitmproxy 4 r=perftest-reviewers,Bebe
  testing/raptor/raptor/playback/mitm4-linux-firefox-tumblr.manifest
  testing/raptor/raptor/tests/tp6/desktop/raptor-tp6-10.ini
Due: bugzilla-components, test-manifest, raptor

Bug 1559937 Re-record reddit.com desktop tp6 pages using mitmproxy 4 r=perftest-reviewers,Bebe
  testing/raptor/raptor/playback/mitm4-linux-firefox-reddit.manifest
  testing/raptor/raptor/tests/tp6/desktop/raptor-tp6-6.ini
Due: bugzilla-components, test-manifest, raptor

Bug 1560179 - Image should not accept eSHAPE r=longsonr
  dom/svg/SVGImageElement.cpp
  dom/svg/SVGImageElement.h
  dom/svg/crashtests/1560179.html
  dom/svg/crashtests/crashtests.list
Due: tidy, format, coverity, bugzilla-components, eslint

Bug 1561435 - Fix linting errors for devtools/client/, r=standard8
  devtools/client/jsonview/test/head.js
Due: bugzilla-components, eslint

Bug 1561435 - Fix linting errors for devtools/server/, r=standard8
  devtools/server/actors/utils/dbg-source.js
Due: bugzilla-components, eslint

Bug 1528082: Add an environment variable to disable dedicated profiles for enterprise use. r=froydnj a=jcristau
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/profile/xpcshell/head.js
  toolkit/profile/xpcshell/test_legacy_empty.js
  toolkit/profile/xpcshell/test_legacy_select.js
  toolkit/profile/xpcshell/xpcshell.ini
Due: tidy, format, coverity, bugzilla-components, eslint, test-manifest

Bug 1528082: Add an environment variable to disable dedicated profiles for enterprise use. r=froydnj
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/profile/xpcshell/head.js
  toolkit/profile/xpcshell/test_legacy_empty.js
  toolkit/profile/xpcshell/test_legacy_select.js
  toolkit/profile/xpcshell/xpcshell.ini
Due: tidy, format, coverity, bugzilla-components, eslint, test-manifest

Bug 1560281 - Emit Target.targetCreated for the main process target. r=remote-protocol-reviewers,ato
  remote/domains/parent/Target.jsm
  remote/targets/Targets.jsm
  remote/test/browser/browser_target.js
  remote/test/browser/browser_target_close.js
Due: bugzilla-components, eslint

Bug 1551030 - Merge all SVGRect classes r=dholbert
  dom/bindings/Bindings.conf
  dom/svg/SVGAnimatedRect.cpp
  dom/svg/SVGAnimatedRect.h
  dom/svg/SVGAnimatedViewBox.cpp
  dom/svg/SVGAnimatedViewBox.h
  dom/svg/SVGIRect.h
  dom/svg/SVGRect.cpp
  dom/svg/SVGRect.h
  dom/svg/SVGSVGElement.cpp
  dom/svg/SVGSVGElement.h
  dom/svg/SVGTextContentElement.cpp
  dom/svg/SVGTextContentElement.h
  dom/svg/SVGTransformableElement.cpp
  dom/svg/SVGTransformableElement.h
  dom/svg/moz.build
  layout/svg/SVGTextFrame.cpp
  layout/svg/SVGTextFrame.h
Due: tidy, format, coverity, bugzilla-components

Bug 1560281 - Set main process target's "type" attribute to "browser". r=remote-protocol-reviewers,ato
  remote/domains/parent/Target.jsm
  remote/targets/MainProcessTarget.jsm
Due: bugzilla-components, eslint

Bug 1557708 - disabled event-timeout.any.worker.html on android r=jgraham
  testing/web-platform/meta/xhr/event-timeout.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1560294 - Relax frameId check in Page.navigate. r=remote-protocol-reviewers,ato
  remote/domains/content/Page.jsm
Due: bugzilla-components, eslint

Bug 1548687 - Remove unnecessary root layers id argument. r=botond
  gfx/layers/apz/public/APZUpdater.h
  gfx/layers/apz/src/APZCTreeManager.cpp
  gfx/layers/apz/src/APZCTreeManager.h
  gfx/layers/apz/src/APZUpdater.cpp
  gfx/layers/apz/test/gtest/TestEventRegions.cpp
  gfx/layers/apz/test/gtest/TestHitTesting.cpp
  gfx/layers/apz/test/gtest/TestInputQueue.cpp
  gfx/layers/apz/test/gtest/TestScrollHandoff.cpp
  gfx/layers/apz/test/gtest/TestSnapping.cpp
  gfx/layers/apz/test/gtest/TestSnappingOnMomentum.cpp
  gfx/layers/apz/test/gtest/TestTreeManager.cpp
  gfx/layers/ipc/CompositorBridgeParent.cpp
Due: tidy, format, coverity, bugzilla-components
