Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, windows

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/aboutdebugging-new/src/components/**, devtools/client/framework/components/**, devtools/client/webconsole/**, devtools/client/netmonitor/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh

Bug 1559994 - Add 'attention'-styled dismissed doorhanger when auto-saving a generated password. r=MattN
  browser/themes/shared/notification-icons.inc.css
  mobile/android/components/LoginManagerPrompter.js
  toolkit/components/passwordmgr/LoginManagerParent.jsm
  toolkit/components/passwordmgr/LoginManagerPrompter.jsm
  toolkit/components/passwordmgr/nsILoginManagerPrompter.idl
  toolkit/components/passwordmgr/test/browser/browser_generated_password_doorhangers.js
  toolkit/components/passwordmgr/test/unit/test_LoginManagerParent_onGeneratedPasswordFilled.js
  toolkit/modules/PopupNotifications.jsm
Due: bugzilla-components, eslint

No bug - Tagging 54a42dbdebfb029af49afff316949000c7de6da5 with DEVEDITION_69_0b4_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1562616 - Don't fail to create a GPUVideoTextureHost if the dependent texture isn't available, since that crashes the compositor. r=sotaro
  gfx/layers/composite/GPUVideoTextureHost.cpp
  gfx/layers/composite/GPUVideoTextureHost.h
Due: tidy, format, coverity, bugzilla-components

Bug 1562616 - Don't fail to create a GPUVideoTextureHost if the dependent texture isn't available, since that crashes the compositor. r=sotaro, a=RyanVM
  gfx/layers/composite/GPUVideoTextureHost.cpp
  gfx/layers/composite/GPUVideoTextureHost.h
Due: tidy, format, coverity, bugzilla-components

No bug - Tagging 54a42dbdebfb029af49afff316949000c7de6da5 with FIREFOX_69_0b4_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Backed out changeset c8b2f53266b1 (bug 1563877) for library related bustages
  media/libcubeb/cubeb-pulse-rs/README_MOZILLA
  media/libcubeb/cubeb-pulse-rs/pulse-rs/src/context.rs
  media/libcubeb/cubeb-pulse-rs/pulse-rs/src/stream.rs
Due: bugzilla-components

Bug 1550640 - P4: Remove bincode. r=Gankro
  Cargo.lock
  Cargo.toml
  gfx/wr/Cargo.lock
  gfx/wr/Cargo.toml
  gfx/wr/webrender_api/Cargo.toml
  gfx/wr/webrender_api/src/display_list.rs
  gfx/wr/webrender_api/src/lib.rs
  third_party/rust/serde_derive/.cargo-checksum.json
  third_party/rust/serde_derive/Cargo.toml
  third_party/rust/serde_derive/src/bound.rs
  third_party/rust/serde_derive/src/de.rs
  third_party/rust/serde_derive/src/internals/ast.rs
  third_party/rust/serde_derive/src/internals/check.rs
  third_party/rust/serde_derive/src/pretend.rs
  third_party/rust/serde_derive/src/ser.rs
Due: bugzilla-components, lint-tidy, linux-release, linux-debug, windows

Backed out 2 changesets (bug 1556789) for assertion failures in FF functional tests on a CLOSED TREE.
  browser/base/content/test/performance/browser_startup_mainthreadio.js
  browser/components/extensions/parent/ext-chrome-settings-overrides.js
  browser/components/extensions/test/xpcshell/head.js
  browser/components/extensions/test/xpcshell/test_ext_chrome_settings_overrides_update.js
  browser/components/extensions/test/xpcshell/test_ext_urlbar.js
  browser/components/preferences/in-content/tests/browser.ini
  browser/components/preferences/in-content/tests/browser_engines.js
  browser/components/search/test/browser/browser_contextmenu.js
  browser/components/search/test/marionette/test_engines_on_restart.py
  browser/components/tests/unit/test_distribution.js
  browser/components/urlbar/tests/unit/head.js
  testing/profiles/common/user.js
  toolkit/components/places/tests/unifiedcomplete/head_autocomplete.js
  toolkit/components/places/tests/unifiedcomplete/test_PlacesSearchAutocompleteProvider.js
  toolkit/components/places/tests/unifiedcomplete/xpcshell.ini
  toolkit/components/places/tests/unit/head_bookmarks.js
  toolkit/components/search/SearchEngine.jsm
  toolkit/components/search/SearchService.jsm
  toolkit/components/search/SearchUtils.jsm
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/data/invalid-extension/invalid/manifest.json
  toolkit/components/search/tests/xpcshell/data/invalid-extension/list.json
  toolkit/components/search/tests/xpcshell/head_search.js
  toolkit/components/search/tests/xpcshell/searchconfigs/head_searchconfig.js
  toolkit/components/search/tests/xpcshell/test_async_distribution.js
  toolkit/components/search/tests/xpcshell/test_list_json_searchorder.js
  toolkit/components/search/tests/xpcshell/test_migrateWebExtensionEngine.js
  toolkit/components/search/tests/xpcshell/test_parseSubmissionURL.js
  toolkit/components/search/tests/xpcshell/test_remove_profile_engine.js
  toolkit/components/search/tests/xpcshell/test_require_engines_for_cache.js
  toolkit/components/search/tests/xpcshell/test_require_engines_in_cache.js
  toolkit/components/search/tests/xpcshell/test_validate_engines.js
  toolkit/components/search/tests/xpcshell/test_webextensions_install_failure.js
  toolkit/components/search/tests/xpcshell/xpcshell.ini
  toolkit/components/telemetry/tests/marionette/harness/telemetry_harness/runner.py
  toolkit/components/telemetry/tests/unit/head.js
Due: bugzilla-components, eslint, py-compat, py-flake8, test-manifest, mochitest-harness

Bug 1556789 minimize the chaos of search config testing r=daleharvey
  toolkit/components/search/SearchUtils.jsm
  toolkit/components/search/tests/xpcshell/searchconfigs/head_searchconfig.js
Due: bugzilla-components, eslint

Bug 1565440 - Update pdf.js to version 2.3.13. r=bdahl
  browser/extensions/pdfjs/README.mozilla
  browser/extensions/pdfjs/content/build/pdf.js
  browser/extensions/pdfjs/content/build/pdf.worker.js
  browser/extensions/pdfjs/content/web/viewer.js
  browser/extensions/pdfjs/moz.yaml
Due: bugzilla-components, eslint, yaml

No bug: [taskgraph] Inherit treeherder collection for non-opt platforms; r=Callek
  taskcluster/taskgraph/util/treeherder.py
Due: taskgraph-tests/opt, bugzilla-components, py-compat, py-flake8, taskgraph-tests

No bug - Tagging a7b97568af69fa66087ac48e44660dc3e66c65ab with FIREFOX_69_0b4_BUILD2 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components
