Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, wgpu, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  wgpu: any of: gfx/wgpu/**
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1606130 - Make display: -moz-box more similar to other display types for block layout. r=jfkthame,surkov
  accessible/generic/Accessible.cpp
  accessible/tests/mochitest/name/test_general.xhtml
  layout/base/nsCSSFrameConstructor.cpp
  layout/generic/crashtests/crashtests.list
  layout/painting/crashtests/crashtests.list
  layout/reftests/bugs/1606130-ref.html
  layout/reftests/bugs/1606130.html
  layout/reftests/bugs/322436-1.html
  layout/reftests/bugs/reftest.list
  layout/style/nsStyleConsts.h
  servo/components/style/values/specified/box.rs
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1569281 - Fix intermittent failure on Normandy Recipe Runner tests r=mythmon,mconley a=test-only
  toolkit/components/normandy/test/browser/browser_RecipeRunner.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1569281 - Fix intermittent failure on Normandy Recipe Runner tests r=mythmon,mconley
  toolkit/components/normandy/test/browser/browser_RecipeRunner.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1598713 - Removing confusing `parent` root r=caroline
  js/src/frontend/BytecodeEmitter.cpp
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

[components] Fix change log SharedIdHelper code snippet
  mobile/android/android-components/docs/changelog.md
Due: bugzilla-components

Bug 1583353 - [taskgraph] Run test task chunking through manifestparser's skip-if filter, r=gbrown
  taskcluster/taskgraph/transforms/tests.py
  taskcluster/taskgraph/util/chunking.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests, tryselect

Bug 1598523 - Share code for creating a channel for a document between nsDocShell, DocumentChannelChild and ContentChild. r=kmag
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
  dom/ipc/ContentChild.cpp
  netwerk/ipc/DocumentChannelChild.cpp
  netwerk/ipc/DocumentLoadListener.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 33ccfb45bb3f (bug 1585683) on jgilbert's request
  dom/webgpu/mochitest/mochitest-no-pref.ini
  dom/webgpu/mochitest/mochitest.ini
  taskcluster/ci/test/mochitest.yml
  taskcluster/ci/test/test-sets.yml
  testing/mozbase/moztest/moztest/resolve.py
  testing/mozharness/configs/android/android_common.py
  testing/mozharness/configs/unittests/linux_unittest.py
  testing/mozharness/configs/unittests/mac_unittest.py
  testing/mozharness/configs/unittests/win_unittest.py
  testing/mozharness/mozharness/mozilla/testing/errors.py
  testing/mozharness/mozharness/mozilla/testing/per_test_base.py
  testing/mozharness/mozharness/mozilla/testing/testbase.py
Due: mozbase/opt, mozharness/opt, bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, yaml, file-whitespace, mochitest-harness, mozbase, mozharness, reftest-harness, tryselect, mozbuild

Bug 1606958 - Use FakeString for UTF8String. r=bzbarsky,froydnj
  dom/bindings/BindingDeclarations.h
  dom/bindings/BindingUtils.cpp
  dom/bindings/BindingUtils.h
  dom/bindings/Codegen.py
  dom/bindings/FakeString.h
  xpcom/string/nsStringFlags.h
  xpcom/string/nsTSubstring.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1596478, remove references to kNameSpaceID_XBL except for instance in nsNameSpaceManager.cpp r=bzbarsky
  dom/base/FragmentOrElement.cpp
  dom/xml/nsXMLContentSink.cpp
  js/xpconnect/src/XPCJSRuntime.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1605342 - Let RDM's metaviewport handling ride the trains r=bradwerth
  browser/app/profile/firefox.js
  devtools/client/responsive/test/browser/browser_device_width.js
  devtools/client/responsive/test/browser/browser_scroll.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_after_reload.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_fixed_width.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_fixed_width_and_zoom.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_minimum_scale.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_scrollbar.js
  devtools/client/responsive/test/browser/browser_viewport_zoom_resolution_invariant.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1605342 - Let RDM's metaviewport handling ride the trains r=bradwerth a=RyanVM
  browser/app/profile/firefox.js
  devtools/client/responsive/test/browser/browser_device_width.js
  devtools/client/responsive/test/browser/browser_scroll.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_after_reload.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_fixed_width.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_fixed_width_and_zoom.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_minimum_scale.js
  devtools/client/responsive/test/browser/browser_viewport_resizing_scrollbar.js
  devtools/client/responsive/test/browser/browser_viewport_zoom_resolution_invariant.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1594083 - Check if we got the pref service before using it to avoid a crash. r=mhowell, a=RyanVM
  toolkit/components/fuzzyfox/Fuzzyfox.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1594083 - Check if we got the pref service before using it to avoid a crash r=mhowell
  toolkit/components/fuzzyfox/Fuzzyfox.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1599585 - Implement enable/disable extensions. r=esawin,snorp
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebExtensionTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtension.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtensionController.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
  mobile/android/modules/geckoview/GeckoViewWebExtension.jsm
Due: android-geckoview-docs/opt, bugzilla-components, infer, codespell, eslint, license, file-perm
