Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1600436 - derive_common: Fix example in documentation.
  servo/components/derive_common/cg.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1600436 - Fix some warnings new in Rust Nightly.
  servo/components/hashglobe/src/hash_map.rs
  servo/components/style/values/animated/font.rs
  servo/components/style/values/computed/mod.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1600436 - Update some URLs.
  servo/components/selectors/README.md
Due: bugzilla-components

Bug 1600436 - Update some servo-2020 layout ifdefs.
  servo/components/style/properties/longhands/box.mako.rs
  servo/components/style/properties/longhands/font.mako.rs
  servo/components/style/properties/longhands/inherited_text.mako.rs
  servo/components/style/properties/properties.mako.rs
  servo/components/style/properties/shorthands/font.mako.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1600436 - Fix servo build.
  servo/components/style/servo/selector_parser.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1600436 - Rustfmt recent changes.
  servo/components/style/applicable_declarations.rs
  servo/components/style/gecko/snapshot_helpers.rs
  servo/components/style/gecko/wrapper.rs
  servo/components/style/invalidation/element/invalidator.rs
  servo/components/style/rule_collector.rs
  servo/components/style/rule_tree/mod.rs
  servo/components/style/selector_map.rs
  servo/components/style/stylist.rs
  servo/components/style/values/animated/transform.rs
  servo/components/style/values/generics/grid.rs
  servo/components/style/values/generics/transform.rs
  servo/components/style/values/specified/angle.rs
  servo/components/style/values/specified/box.rs
  servo/components/style/values/specified/calc.rs
  servo/components/style/values/specified/color.rs
  servo/components/style/values/specified/counters.rs
  servo/components/style/values/specified/font.rs
  servo/components/style/values/specified/length.rs
  servo/components/style/values/specified/percentage.rs
  servo/components/style/values/specified/time.rs
  servo/components/style/values/specified/transform.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1555376 - Snap glyphs before clipping in the shader. r=lsalzman
  gfx/wr/webrender/res/ps_text_run.glsl
  gfx/wr/webrender/src/batch.rs
  gfx/wr/wrench/reftests/text/reftest.list
  gfx/wr/wrench/reftests/text/subpixel-translate-ref.yaml
  gfx/wr/wrench/reftests/text/subpixel-translate.yaml
  layout/reftests/bidi/reftest.list
  layout/reftests/bugs/reftest.list
  layout/reftests/text-overflow/reftest.list
  layout/reftests/webkit-box/reftest.list
  testing/web-platform/meta/css/css-lists/list-style-type-string-002.html.ini
  testing/web-platform/meta/css/css-overflow/webkit-line-clamp-024.html.ini
  testing/web-platform/meta/css/css-overflow/webkit-line-clamp-027.html.ini
  testing/web-platform/meta/css/css-overflow/webkit-line-clamp-029.html.ini
  testing/web-platform/meta/css/css-overflow/webkit-line-clamp-030.html.ini
  testing/web-platform/meta/css/css-ui/text-overflow-026.html.ini
  testing/web-platform/meta/css/vendor-imports/mozilla/mozilla-central-reftests/counter-styles-3/descriptor-pad.html.ini
  testing/web-platform/meta/css/vendor-imports/mozilla/mozilla-central-reftests/selectors4/dir-style-01a.html.ini
  testing/web-platform/meta/css/vendor-imports/mozilla/mozilla-central-reftests/selectors4/dir-style-01b.html.ini
Due: bugzilla-components, license, test-manifest, yaml, rustfmt, file-whitespace, file-perm, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

No bug - Fix newlines in dom/tests/mochitest/chrome/489127.html.
  dom/tests/mochitest/chrome/489127.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1555376 - Followup to mark more tests as passing.
  layout/reftests/bidi/reftest.list
Due: bugzilla-components

Bug 1555376 - Followup to mark more tests as passing (again).
  layout/reftests/bugs/reftest.list
Due: bugzilla-components

Bug 1599467 - Make XHR and Fetch to use deprioritized loading while the top level page is loading in Fission, r=farre
  docshell/base/BrowsingContext.cpp
  docshell/base/BrowsingContext.h
  docshell/base/BrowsingContextFieldList.h
  dom/base/nsGlobalWindowInner.cpp
  dom/base/nsGlobalWindowInner.h
  dom/base/nsPIDOMWindow.h
  dom/fetch/Fetch.cpp
  dom/xhr/XMLHttpRequestMainThread.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1598775 - Ensure postMessage related optimizations during page load work also in Fission, r=farre
  docshell/base/BrowsingContext.cpp
  docshell/base/BrowsingContext.h
  docshell/base/BrowsingContextGroup.cpp
  docshell/base/BrowsingContextGroup.h
  dom/base/TabGroup.cpp
  dom/base/TabGroup.h
  dom/base/nsGlobalWindowInner.cpp
  dom/base/nsGlobalWindowOuter.cpp
  dom/fetch/Fetch.cpp
  dom/xhr/XMLHttpRequestMainThread.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1598775 - Ensure postMessage related optimizations during page load work also in Fission, part 2, r=farre
  dom/base/PostMessageEvent.cpp
  dom/base/PostMessageEvent.h
  dom/base/nsGlobalWindowOuter.cpp
  dom/ipc/ContentChild.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1600398 - middle click on 'view previous tabs' list shouldn't activate autoscroll r=Gijs
  toolkit/modules/AutoScrollController.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm
