Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Backed out changeset 2e0c2fea2799 (bug 1577428) linting doc failure on a CLOSED TREE
  security/manager/ssl/nsCertOverrideService.cpp
  security/manager/ssl/nsCertOverrideService.h
  security/manager/ssl/nsICertOverrideService.idl
  security/manager/ssl/tests/unit/test_allow_all_cert_errors.js
  security/manager/ssl/tests/unit/test_js_cert_override_service.js
  security/manager/ssl/tests/unit/xpcshell.ini
  testing/marionette/cert.js
  testing/marionette/driver.js
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, file-whitespace, file-perm

Backed out changeset 316e6fc0e5c5 (bug 1577706) for build bustages on a CLOSED TREE
  browser/app/nsBrowserApp.cpp
  browser/app/winlauncher/LauncherProcessWin.cpp
  toolkit/xre/CmdLineAndEnvUtils.h
  toolkit/xre/nsAppRunner.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1578252 - Highlight messages that are at the same location. r=bhackett
  devtools/client/locales/en-US/toolbox.properties
  devtools/client/themes/toolbox.css
  devtools/client/webreplay/components/WebReplayPlayer.js
Due: bugzilla-components, codespell, eslint, license, localization, file-perm, devtools-tests

Bug 1533759 - disabled test_window_open_close.html on linux64 qr r=intermittent-reviewers,gbrown
  dom/html/test/mochitest.ini
Due: bugzilla-components, test-manifest

Bug 1578164. Use async notifications when requesting decode of an image in most places. r=aosmond
  dom/base/nsContentUtils.cpp
  dom/canvas/ImageBitmap.cpp
  image/imgTools.cpp
  layout/xul/nsImageBoxFrame.cpp
  widget/PuppetWidget.cpp
  widget/cocoa/nsClipboard.mm
  widget/cocoa/nsCocoaUtils.mm
  widget/gtk/nsImageToPixbuf.cpp
  widget/windows/ToastNotificationHandler.cpp
  widget/windows/WinUtils.cpp
  widget/windows/nsWindowGfx.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1575704 - Redirect to Sync preferences in Send Tab sign-in button. r=vbudhram
  browser/base/content/browser-sync.js
  browser/components/customizableui/content/panelUI.inc.xul
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1577031 - make Protection Report page sharable via UITour. r=johannh
  browser/components/uitour/UITour-lib.js
  browser/components/uitour/UITour.jsm
  browser/components/uitour/test/browser.ini
  browser/components/uitour/test/browser_UITour_showProtectionReport.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

[components] Add blog posting explaining browser-state plans.
  mobile/android/android-components/docs/_posts/2019-09-02-browser-state.md
Due: bugzilla-components

Bug 1572144 - Support search result navigation. r=Honza
  devtools/client/accessibility/components/AccessibilityTree.js
  devtools/client/netmonitor/src/actions/search.js
  devtools/client/netmonitor/src/assets/styles/search.css
  devtools/client/netmonitor/src/components/CookiesPanel.js
  devtools/client/netmonitor/src/components/HeadersPanel.js
  devtools/client/netmonitor/src/components/HtmlPreview.js
  devtools/client/netmonitor/src/components/NetworkDetailsPanel.js
  devtools/client/netmonitor/src/components/ParamsPanel.js
  devtools/client/netmonitor/src/components/PropertiesView.js
  devtools/client/netmonitor/src/components/ResponsePanel.js
  devtools/client/netmonitor/src/components/SourceEditor.js
  devtools/client/netmonitor/src/components/TabboxPanel.js
  devtools/client/netmonitor/src/components/search/SearchPanel.js
  devtools/client/netmonitor/src/constants.js
  devtools/client/netmonitor/src/reducers/search.js
  devtools/client/netmonitor/src/workers/search/search.js
  devtools/client/netmonitor/test/browser_net_complex-params.js
  devtools/client/netmonitor/test/browser_net_post-data-01.js
  devtools/client/netmonitor/test/browser_net_post-data-02.js
  devtools/client/netmonitor/test/browser_net_post-data-03.js
  devtools/client/shared/components/tree/TreeView.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1575682 - Bridge the perf actor so that it can be reused with the popup r=julienw
  devtools/server/actors/perf.js
  devtools/server/moz.build
  devtools/server/performance-new/gecko-profiler-interface.js
  devtools/server/performance-new/moz.build
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1575682 - Change the behavior of the popup shortcuts to stop the profiler on capture r=julienw
  devtools/client/performance-new/popup/background.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1575682 - De-duplicate the profiler popup code r=julienw
  devtools/client/jar.mn
  devtools/client/performance-new/browser.js
  devtools/client/performance-new/components/Perf.js
  devtools/client/performance-new/components/RecordingButton.js
  devtools/client/performance-new/initializer.js
  devtools/client/performance-new/popup/background.jsm
  devtools/client/performance-new/popup/initializer.js
  devtools/client/performance-new/popup/menu-button.jsm
  devtools/client/performance-new/popup/moz.build
  devtools/client/performance-new/popup/popup.css
  devtools/client/performance-new/popup/popup.html
  devtools/client/performance-new/popup/popup.js
  devtools/client/performance-new/popup/popup.xhtml
  devtools/client/performance-new/store/actions.js
  devtools/client/performance-new/store/reducers.js
  devtools/client/performance-new/store/selectors.js
  devtools/client/themes/perf.css
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1575682 - Rename the recording buttons, and add a cancel button r=julienw
  devtools/client/performance-new/components/RecordingButton.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1575682 - Add a mechanism for the popup to signal that its size has changed r=julienw
  devtools/client/performance-new/components/Settings.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1575682 - Stop the profiler popup from "blipping" with unrendered content r=julienw
  devtools/client/performance-new/components/Perf.js
  devtools/client/performance-new/popup/menu-button.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests
