Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, test, upload, lint-tidy, linux-release, linux-debug, windows

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  worker:
    env:
      TOOLTOOL_MANIFEST: browser/config/tooltool-manifests/linux64/releng.manifest
  run:
    using: hazard
  ...

marionette-harness/opt:
  description: Marionette harness unit test
  attributes:
    build_platform: marionette-harness
    build_type: opt
  treeherder:
    platform: linux64/opt
    kind: test
    tier: 2
    symbol: tc(Mn-h)
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    implementation: docker-worker
    docker-image:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

tidy:
  description: Run static-analysis (clang-tidy) on C/C++ patches
  treeherder:
    symbol: clang(tidy)
  run:
  ...

format:
  description: Run clang-format on C/C++ patches
  treeherder:
    symbol: clang(format)
  run:
  ...

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
Due: bugzilla-components

No bug - Tagging a38e711fb744080107b558a0bcb4f24a3b754cb1 with DEVEDITION_68_0b14_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1409773 - Use WebRender instead of fallback for border raster images. r=jrmuizel a=RyanVM
  gfx/webrender_bindings/WebRenderAPI.cpp
  gfx/webrender_bindings/WebRenderAPI.h
  gfx/webrender_bindings/src/bindings.rs
  layout/forms/nsFieldSetFrame.cpp
  layout/painting/nsCSSRendering.cpp
  layout/painting/nsCSSRendering.h
  layout/painting/nsCSSRenderingBorders.cpp
  layout/painting/nsImageRenderer.h
  layout/reftests/border-image/reftest.list
  layout/reftests/bugs/reftest.list
  layout/reftests/css-break/reftest.list
Due: tidy, format, coverity, bugzilla-components

Bug 1561261 - Don't import requests at the top level. r=ahal
  gfx/thebes/mach_commands.py
Due: bugzilla-components, py-compat, py-flake8

[components] Update GeckoView (nightly) (20190628-141257)
  mobile/android/android-components/buildSrc/src/main/java/Gecko.kt
Due: bugzilla-components

[components] Update docs (20190628-121606)
  mobile/android/android-components/docs/api/alltypes/index.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-browser-state/custom-tabs.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-browser-state/index.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-browser-state/selected-tab-id.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-browser-state/tabs.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/-init-.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/index.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/loading.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/private.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/progress.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/search-terms.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/security-info.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/title.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-content-state/url.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-custom-tab-session-state/content.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-custom-tab-session-state/id.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-custom-tab-session-state/index.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-session-state/content.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-session-state/id.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-session-state/index.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-tab-session-state/content.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-tab-session-state/id.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/-tab-session-state/index.md
  mobile/android/android-components/docs/api/mozilla.components.browser.state.state/index.md
Due: bugzilla-components

Bug 1561883 - [Wayland] Provide WaylandDisplayGetWLDisplay() to directly get wl_display, r=jhorak
  gfx/gl/GLLibraryEGL.cpp
  widget/gtk/WindowSurfaceWayland.cpp
  widget/gtk/nsGtkKeyUtils.cpp
  widget/gtk/nsWaylandDisplay.cpp
  widget/gtk/nsWaylandDisplay.h
Due: tidy, format, coverity, bugzilla-components

Bug 1562141 - [Wayland] Hide/show popup when it's positioned by gdk_window_move_to_rect() and it's visible, r=jhorak
  widget/gtk/mozgtk/mozgtk.c
  widget/gtk/nsWindow.cpp
Due: tidy, format, coverity, bugzilla-components

Bug 1397945: Align DOMMatrix scale* operations to the spec r=bzbarsky
  dom/base/DOMMatrix.cpp
  dom/base/DOMMatrix.h
  dom/base/WebKitCSSMatrix.cpp
  dom/base/WebKitCSSMatrix.h
  dom/tests/mochitest/general/test_WebKitCSSMatrix.html
  dom/webidl/DOMMatrix.webidl
  dom/webidl/WebKitCSSMatrix.webidl
  testing/web-platform/meta/css/geometry/DOMMatrix-003.html.ini
  testing/web-platform/meta/css/geometry/DOMMatrix-newobject.html.ini
  testing/web-platform/meta/css/geometry/historical.html.ini
  testing/web-platform/meta/css/geometry/interfaces.html.ini
  testing/web-platform/meta/css/geometry/interfaces.worker.js.ini
  testing/web-platform/tests/css/geometry/DOMMatrix-003.html
Due: tidy, format, coverity, bugzilla-components, eslint, test-manifest, wptlint-gecko, upload

Bug 1558517 - Pre 3.0: Remove conflicting eslint rules, and turn on "curly: all" everywhere, r=standard8
  .eslintrc.js
  accessible/tests/browser/.eslintrc.js
  browser/.eslintrc.js
  browser/components/migration/.eslintrc.js
  browser/components/newtab/.eslintrc.js
  browser/components/payments/.eslintrc.js
  browser/extensions/formautofill/.eslintrc.js
  browser/extensions/report-site-issue/.eslintrc.js
  devtools/.eslintrc.js
  devtools/client/debugger/.eslintrc
  devtools/client/inspector/.eslintrc.js
  devtools/client/netmonitor/.eslintrc.js
  devtools/client/shared/sourceeditor/.eslintrc.js
  devtools/client/shared/webpack/shims/.eslintrc.js
  dom/abort/tests/.eslintrc.js
  dom/indexedDB/test/.eslintrc.js
  dom/media/mediasource/test/.eslintrc.js
  js/src/builtin/.eslintrc.js
  js/src/shell/.eslintrc.js
  mobile/android/extensions/report-site-issue/.eslintrc.js
  mobile/android/modules/geckoview/.eslintrc.js
  security/.eslintrc.js
  security/manager/ssl/tests/mochitest/mixedcontent/.eslintrc.js
  services/sync/tests/tps/.eslintrc.js
  taskcluster/docker/periodic-updates/.eslintrc.js
  testing/marionette/.eslintrc.js
  testing/marionette/test/unit/.eslintrc.js
  toolkit/components/extensions/.eslintrc.js
  toolkit/components/kvstore/.eslintrc.js
  toolkit/components/narrate/.eslintrc.js
  toolkit/components/normandy/test/.eslintrc.js
  toolkit/components/passwordmgr/.eslintrc.js
  toolkit/components/passwordmgr/test/browser/.eslintrc.js
  toolkit/components/passwordmgr/test/mochitest/.eslintrc.js
  toolkit/components/reader/.eslintrc.js
  toolkit/components/satchel/.eslintrc.js
  tools/lint/eslint/.eslintrc.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/xpcshell-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/import-content-task-globals.js
Due: linux64-shell-haz/debug, bugzilla-components, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, debugger-tests, devtools-tests, eslint-plugin-mozilla, mozlint

Bug 1559740 - Ride along - add a missing import. r=Sylvestre
  python/mozbuild/mozbuild/code-analysis/mach_commands.py
Due: bugzilla-components, py-compat, py-flake8

Bug 1561994 - Fix test_enterprise_roots.js so it passes when security.enterprise_roots.enabled is enabled by default. r=keeler, a=test-only
  security/manager/ssl/tests/unit/test_enterprise_roots.js
Due: bugzilla-components, eslint

Bug 1561994 - Fix test_enterprise_roots.js so it passes when security.enterprise_roots.enabled is enabled by default. r=keeler
  security/manager/ssl/tests/unit/test_enterprise_roots.js
Due: bugzilla-components, eslint

Bug 1542246 - Add initial documentation for the new Search Engine configuration format. r=daleharvey
  toolkit/components/search/docs/SearchEngineConfiguration.rst
  toolkit/components/search/docs/index.rst
  toolkit/components/search/moz.build
  toolkit/components/search/schema/Readme.txt
  toolkit/components/search/schema/search-engine-config-schema.json
  toolkit/components/search/schema/search-engine-config-ui-schema.json
  toolkit/docs/index.rst
  tools/lint/codespell.yml
Due: bugzilla-components, eslint, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, mozlint

Backed out changeset 80e608691309 (bug 1561586) for causing failures in browser_asrouter_bookmarkpanel.js CLOSED TREE
  browser/components/newtab/lib/BookmarkPanelHub.jsm
  browser/themes/shared/places/editBookmarkPanel.inc.css
Due: bugzilla-components, eslint

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/aboutdebugging-new/src/components/**, devtools/client/framework/components/**, devtools/client/webconsole/**, devtools/client/netmonitor/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, tools/tryselect/**
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
