Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1588367 - Convert all relevant uses of float: right/left to logical properties on toolkit/ r=ntim
  toolkit/content/aboutTelemetry.css
  toolkit/themes/osx/global/dirListing/dirListing.css
  toolkit/themes/shared/aboutNetworking.css
  toolkit/themes/shared/aboutProfiles.css
  toolkit/themes/shared/aboutSupport.css
  toolkit/themes/windows/global/dirListing/dirListing.css
Due: bugzilla-components

Bug 1591887 - NSPR_4_24_BETA1. r=jcj
  nsprpub/TAG-INFO
  nsprpub/config/prdepend.h
  nsprpub/configure
  nsprpub/configure.in
  nsprpub/pr/include/md/_linux.cfg
  nsprpub/pr/include/md/_linux.h
  nsprpub/pr/include/prinit.h
  nsprpub/pr/include/prlog.h
  nsprpub/pr/tests/forktest.c
  nsprpub/pr/tests/multiwait.c
  nsprpub/pr/tests/sel_spd.c
  nsprpub/pr/tests/vercheck.c
  nsprpub/pr/tests/zerolen.c
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1578745 - Introduce a preference to enable fission frame inspection in DevTools. r=nchevobbe
  browser/app/profile/firefox.js
  devtools/shared/fronts/inspector.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1590589: Remove stray references to 'enabled' debuggers. r=jlast
  js/src/debugger/DebugAPI.h
  js/src/debugger/Debugger.cpp
  js/src/doc/Debugger/Debugger.Script.md
  js/src/doc/Debugger/Debugger.md
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1588367 - Convert all relevant uses of float: right/left to logical properties on browser/ r=johannh,MattN
  browser/components/enterprisepolicies/content/aboutPolicies.css
  browser/extensions/formautofill/content/manageDialog.css
  browser/extensions/formautofill/skin/shared/autocomplete-item-shared.css
  browser/extensions/webcompat/about-compat/aboutCompat.css
  browser/themes/shared/controlcenter/panel.inc.css
  browser/themes/shared/customizableui/panelUI.inc.css
Due: bugzilla-components

Bug 1591865: Make browser_cross_process_csp_inheritance.js work with fission enabled. r=mccr8
  docshell/test/browser/browser_cross_process_csp_inheritance.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1587927 - Check Services.logins.uiBusy in doAutocompleteSearch. r=sfoster
  toolkit/components/passwordmgr/LoginManagerParent.jsm
  toolkit/components/passwordmgr/test/browser/browser_autocomplete_master_password.js
Due: bugzilla-components, codespell, eslint, license, file-perm

[fenix] Collection UI Test added, but set to disabled until Collection is refactored (https://github.com/mozilla-mobile/fenix/pull/6160)
  mobile/android/fenix/app/src/androidTest/assets/pages/generic1.html
  mobile/android/fenix/app/src/androidTest/assets/pages/generic2.html
  mobile/android/fenix/app/src/androidTest/assets/pages/generic3.html
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1580323 - test(browser_dbg-quick-open): Remove timeouts
  devtools/client/debugger/test/mochitest/browser.ini
  devtools/client/debugger/test/mochitest/browser_dbg-quick-open.js
  devtools/client/debugger/test/mochitest/helpers.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm, debugger-tests, devtools-tests

Bug 1591223 - Tidy up the WR renderer options for partial present and native compositing. r=kvark
  gfx/webrender_bindings/src/bindings.rs
  gfx/wr/example-compositor/compositor/src/main.rs
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/frame_builder.rs
  gfx/wr/webrender/src/lib.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/renderer.rs
  gfx/wr/webrender/src/scene.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Bug 1586973 - Fix typo in Telemetry assertEvents filter parameter used by browser_interaction_telemetry.js. r=mixedpuppy, a=test-only
  toolkit/mozapps/extensions/test/browser/browser_interaction_telemetry.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1586973 - Fix typo in Telemetry assertEvents filter parameter used by browser_interaction_telemetry.js. r=mixedpuppy
  toolkit/mozapps/extensions/test/browser/browser_interaction_telemetry.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 2 changesets (bug 1591803) for causing build busatges on PermissionManager.idl. CLOSED TREE
  browser/base/content/browser-siteProtections.js
  browser/base/content/test/plugins/head.js
  browser/base/content/test/popups/browser_popup_blocker.js
  browser/base/content/test/sanitize/browser_sanitize-sitepermissions.js
  browser/components/BrowserGlue.jsm
  browser/components/preferences/permissions.js
  browser/components/preferences/sitePermissions.js
  browser/components/preferences/translation.js
  browser/components/translation/test/browser_translation_exceptions.js
  browser/modules/PermissionUITelemetry.jsm
  browser/modules/Sanitizer.jsm
  browser/modules/SiteDataManager.jsm
  dom/notification/Notification.cpp
  dom/notification/Notification.h
  extensions/permissions/nsPermissionManager.cpp
  extensions/permissions/test/unit/head.js
  extensions/permissions/test/unit/test_permmanager_defaults.js
  extensions/permissions/test/unit/test_permmanager_migrate_4-7.js
  extensions/permissions/test/unit/test_permmanager_migrate_4-7_no_history.js
  extensions/permissions/test/unit/test_permmanager_migrate_5-7a.js
  extensions/permissions/test/unit/test_permmanager_migrate_5-7b.js
  extensions/permissions/test/unit/test_permmanager_migrate_6-7a.js
  extensions/permissions/test/unit/test_permmanager_migrate_6-7b.js
  extensions/permissions/test/unit/test_permmanager_migrate_7-8.js
  extensions/permissions/test/unit/test_permmanager_migrate_9-10.js
  extensions/permissions/test/unit/test_permmanager_notifications.js
  extensions/permissions/test/unit/test_permmanager_removebytype.js
  extensions/permissions/test/unit/test_permmanager_removebytypesince.js
  extensions/permissions/test/unit/test_permmanager_removepermission.js
  layout/build/components.conf
  netwerk/base/nsIPermissionManager.idl
  netwerk/test/unit/test_permmgr.js
  toolkit/components/cleardata/ClearDataService.jsm
  toolkit/components/passwordmgr/LoginManager.jsm
  toolkit/components/passwordmgr/test/unit/test_storage_mozStorage.js
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/histogram-allowlists.json
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1570178 - Part 1: Remove failure possibility from decrementStepperCount. r=jimb
  js/src/debugger/DebugScript.h
  js/src/debugger/Frame.cpp
  js/src/wasm/WasmDebug.cpp
  js/src/wasm/WasmDebug.h
Due: linux64-shell-haz/debug, tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
