Repository Floorp-Projects/Floorp: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-geckoview-docs/opt, linux64-shell-haz/debug, marionette-harness/opt, taskgraph-tests/opt, mozbase/opt, mozharness/opt, tidy, format, coverity, bugzilla-components, infer, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mach, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild, test, upload, lint-tidy, linux-release, linux-debug, wrench-macos-build, macos-release, cargotest-macos-build, macos-debug, windows, wrench-android-debug, wrench-android-release, android-emulator-debug, android-emulator-release, android-hw-p2-debug, android-hw-p2-opt, wrupdater-sync

Path conditions:
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozbase/opt: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness/opt: any of: testing/mozharness/**
  tidy: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  format: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  coverity: any of: **/*.c, **/*.cpp, **/*.cc, **/*.cxx, **/*.m, **/*.mm, **/*.h, **/*.hh, **/*.hpp, **/*.hxx
  bugzilla-components: any of: **
  infer: any of: mobile/**/*.java
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mochitest-harness: (any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js) or (any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**)
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
  test: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  upload: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  lint-tidy: any of: gfx/wr/**
  linux-release: any of: gfx/wr/**
  linux-debug: any of: gfx/wr/**
  wrench-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh, taskcluster/scripts/misc/wrench-macos-build.sh
  macos-release: any of: gfx/wr/**
  cargotest-macos-build: any of: gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wr-cargotest-macos-build.sh, taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  macos-debug: any of: gfx/wr/**
  windows: any of: build/win64/mozconfig.vs2017, browser/config/tooltool-manifests/win64/webrender.manifest, gfx/wr/**, taskcluster/scripts/misc/tooltool-download.sh, taskcluster/scripts/misc/wrench-windows-tests.sh
  wrench-android-debug: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh
  wrench-android-release: any of: build.gradle, gfx/wr/**, taskcluster/scripts/misc/wrench-android-build.sh, mobile/android/debug_sign_tool.py
  android-emulator-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-emulator-release: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-debug: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  android-hw-p2-opt: any of: gfx/wr/**, testing/mozharness/scripts/android_wrench.py, testing/mozharness/configs/android/wrench.py
  wrupdater-sync: any of: gfx/wr/**

Bug 1580181 - Reorganize js-property-provider. r=ochameau.
  devtools/shared/webconsole/js-property-provider.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1586714 - Making the test 'browser/components/originattributes/test/browser/browser_sanitize.js' working in Fission. r=baku
  browser/components/originattributes/test/browser/browser.ini
  browser/components/originattributes/test/browser/browser_sanitize.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Bug 1586715 - Making the test 'browser/components/originattributes/test/browser/browser_sharedworker.js' working in Fission. r=baku
  browser/components/originattributes/test/browser/browser.ini
  browser/components/originattributes/test/browser/browser_sharedworker.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Bug 1586718 - Making the test 'browser/components/originattributes/test/browser/browser_favicon_userContextId.js' working in Fission. r=baku
  browser/components/originattributes/test/browser/browser.ini
  browser/components/originattributes/test/browser/browser_favicon_userContextId.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Bug 1585312 - Modify the IsolationTestTools in order to adapt Fission. r=baku
  browser/components/originattributes/test/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1586717 - Making the test 'browser/components/originattributes/test/browser/browser_favicon_firstParty.js' working in Fission. r=baku
  browser/components/originattributes/test/browser/browser.ini
  browser/components/originattributes/test/browser/browser_favicon_firstParty.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Backed out changeset bc3714b56887 (bug 1575934) for wpt failures at /html/browsers/offline/application-cache-api/api_update_error.https.html on a CLOSED TREE
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/offline/nsDOMOfflineResourceList.cpp
  netwerk/cookie/CookieSettings.h
  uriloader/prefetch/OfflineCacheUpdateChild.cpp
  uriloader/prefetch/OfflineCacheUpdateChild.h
  uriloader/prefetch/OfflineCacheUpdateGlue.cpp
  uriloader/prefetch/OfflineCacheUpdateGlue.h
  uriloader/prefetch/OfflineCacheUpdateParent.cpp
  uriloader/prefetch/OfflineCacheUpdateParent.h
  uriloader/prefetch/nsIOfflineCacheUpdate.idl
  uriloader/prefetch/nsOfflineCacheUpdate.cpp
  uriloader/prefetch/nsOfflineCacheUpdate.h
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1587804 - Add an Enterprise Policy that allows to set the default search engine used in Private Browsing mode. r=mkaply
  browser/components/enterprisepolicies/Policies.jsm
  browser/components/enterprisepolicies/schemas/policies-schema.json
  browser/components/enterprisepolicies/tests/browser/browser_policy_search_engine.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1576714 - Don't update scrollbar visibility for non-top-level remote browsers. r=nika
  dom/base/nsFrameLoader.cpp
  dom/html/nsGenericHTMLFrameElement.cpp
  dom/ipc/BrowserChild.cpp
Due: tidy, format, coverity, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1588262 - fix(devtools/debugger/sources): Display project root header inline r=davidwalsh
  devtools/client/debugger/src/components/PrimaryPanes/Sources.css
Due: bugzilla-components, debugger-tests, devtools-tests

Bug 1588161 - Increase max-run-time for windows ccov devtools tests; r=marco
  taskcluster/ci/test/mochitest.yml
Due: bugzilla-components, yaml, tryselect

Bug 1588813 - Remove redundant imports and service getters from browser-fullScreenAndPointerLock.js and nsContextMenu.js. r=Gijs
  browser/base/content/browser-fullScreenAndPointerLock.js
  browser/base/content/nsContextMenu.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1585119 - Re-enable many mochitests on android; r=geckoview-reviewers,snorp
  docshell/test/iframesandbox/mochitest.ini
  docshell/test/mochitest/mochitest.ini
  docshell/test/navigation/mochitest.ini
  dom/crypto/test/mochitest.ini
  dom/html/test/mochitest.ini
  dom/tests/mochitest/bugs/mochitest.ini
  dom/tests/mochitest/localstorage/mochitest.ini
  dom/tests/mochitest/whatwg/mochitest.ini
  dom/xhr/tests/mochitest.ini
  dom/xml/test/mochitest.ini
  editor/libeditor/tests/mochitest.ini
  image/test/mochitest/mochitest.ini
  intl/uconv/tests/mochitest.ini
  layout/base/tests/mochitest.ini
  layout/forms/test/mochitest.ini
  layout/generic/test/mochitest.ini
  layout/style/test/mochitest.ini
  taskcluster/ci/test/mochitest.yml
  testing/mochitest/tests/Harness_sanity/mochitest.ini
  widget/tests/mochitest.ini
Due: bugzilla-components, test-manifest, yaml, mochitest-harness, tryselect

Bug 1587543 - Bump OpenH264 fallback downloader to 1.8.1.1. r=Callek a=lizzard
  toolkit/content/gmp-sources/openh264.json
Due: bugzilla-components

Bug 1587543 - Bump OpenH264 fallback downloader to 1.8.1.1. r=Callek
  toolkit/content/gmp-sources/openh264.json
Due: bugzilla-components
